<form id="{{appId}}" class="advancement-entry" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
	<header>
		{{> "blackFlag.advancement-name"}}
	</header>

	{{#if summary}}
		<div class="advancement-summary">{{{summary}}}</div>
	{{/if}}
</form>
