<form id="{{appId}}" class="advancement-entry" data-id="{{advancement.id}}" data-type="{{type}}" autocomplete="off">
	<header>
		{{> "blackFlag.advancement-name"}}
		{{#if needsConfiguration}}
			<div class="advancement-actions">
				<select name="ability">
					{{selectOptions abilities blank=(localize "BF.Advancement.KeyAbility.Notification") localize=true}}
				</select>
			</div>
		{{/if}}
	</header>
</form>
