<fieldset>
	<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
	{{> "blackFlag.advancement-controls" }}
	{{#if types}}
		<label>
			<span>{{ localize "BF.Advancement.ScaleValue.Type.Label" }}</span>
			<select name="configuration.type">
				{{ selectOptions types selected=configuration.data.type }}
			</select>
			<p class="hint type-hint">
				{{ localize @root.type.hint }}
			</p>
		</label>
	{{/if}}
</fieldset>
