<div class="controls">
	<button type="button" class="heavy-button" data-action="learn">
		<i class="fa-solid fa-file-pen" inert></i>
		{{ localize "BF.Spellbook.Action.LearnSpells" }}
	</button>
</div>
