<fieldset>
	<legend>{{ localize "BF.Advancement.Config.Details" }}</legend>
	{{> "blackFlag.advancement-controls" }}
	<label>
		<span>{{ localize "BF.Advancement.Trait.Mode.Label" }}</span>
		<select name="configuration.mode">
			{{ selectOptions CONFIG.traitModes selected=configuration.data.mode labelAttr="label" localize=true }}
		</select>
		<p class="hint">
			{{ localize (lookup (lookup CONFIG.traitModes configuration.data.mode) "hint") }}
		</p>
	</label>
</fieldset>
