.journal-editor .window-content {
	padding: 0;

	.editor {
		height: 100%;
		overflow: none;

		.editor-container {
			margin: 0;
			overflow-y: scroll;

			.editor-content {
				padding-inline: 1rem 0.5rem;
			}
		}
	}
}
