.black-flag-journal {
	&.journal-entry .journal-entry-content, &.journal-entry-page .window-content {
		background: var(--bf-journal-background);
	}
	&.journal-entry .scrollable, &.journal-entry-page.editor-content {
		scrollbar-width: thin;
		scrollbar-color: var(--bf-blue) transparent;

		&::-webkit-scrollbar-track {
			box-shadow: none;
			border-radius: 0;
		}

		&::-webkit-scrollbar-thumb {
			border: none;
			background: var(--bf-blue);
		}
	}
}

:is(.black-flag-journal .journal-entry-content, .editor) {
	h1 {
		border: none;
		color: var(--bf-text-color-blue);
		font-size: var(--font-size-48);
		font-weight: 900;
		text-transform: uppercase;
	}
	h2 {
		border-block-end: 1px solid var(--bf-color-border-blue);
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-header);
		font-size: var(--font-size-32);
		font-weight: 800;
		font-variant: small-caps;
	}
	h3 {
		border: none;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-header);
		font-size: var(--font-size-24);
		font-weight: 500;
		text-transform: uppercase;
	}
	h4 {
		border-block-end: 1px solid var(--bf-color-border-blue);
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-20);
		font-weight: 800;
		text-transform: uppercase;
	}
	h5 {
		margin-block: 0.5em 0;
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-18);
		font-weight: 600;
		text-transform: uppercase;
	}
	h6 {
		margin-block: 1em 0;
		font-size: var(--font-size-16);
		font-weight: 400;
	}

	:is(h1, h2, h3, h4, h5, h6):not(:first-child) {
		margin-block-start: 1rem;
		margin-block-end: 0;
	}

	table {
		margin-block-start: 1rem;
		border-block: 2px solid var(--bf-color-border-blue);
		background: none;

		caption {
			color: var(--bf-text-color-blue);
			font-weight: 200;
			text-align: start;
			text-transform: uppercase;
		}

		thead {
			background: var(--bf-text-color-blue);
			color: white;
			text-shadow: none;

			th {
				font-size: var(--font-size-14);
				text-align: start;
				text-transform: uppercase;
			}
		}

		tbody {
			tr:not(:last-child) {
				border-block-end: 0.5px solid var(--bf-color-border-blue);
			}
			tr:nth-child(2n) {
				background: lch(0% 0% 0deg / 0.05);
			}
			th {
				text-align: start;
			}
		}

		td, th {
			padding-inline: 6px;
		}
	}

	table.sectioned {
		tbody {
			th { text-align: start; }
			th[colspan] {
				font-style: italic;
				font-weight: normal;
			}
			tr.indent {
				> :is(td, th):first-child { padding-inline-start: 18px; }
			}
		}
	}

	aside {
		border-block: 3px solid black;
		padding-block: 0.5em;
		padding-inline: 1em;
		background: rgb(0 0 0 / 0.05);

		> p:first-child > strong:first-child:last-child {
			color: var(--bf-text-color-blue);
			font-family: var(--bf-font-header);
			font-size: var(--font-size-16);
			text-transform: uppercase;
		}
	}

	blockquote {
		margin-inline: 4px;
		border-block: 3px dotted var(--bf-blue);
		border-inline: none;
		padding-inline: 4px;
		color: var(--bf-blue);
		font-style: normal;
	}

	.content-link, .inline-roll {
		border: none;
		padding: 0;
		background: none;
		text-decoration-color: var(--bf-blue);
		text-decoration-line: underline;
		text-decoration-style: dotted;
		text-decoration-thickness: 1.5px;

		i {
			color: var(--bf-text-color-blue);
			opacity: 80%;
		}
	}

	p:empty:has(+ .content-embed), .content-embed + p:empty {
		display: none;
	}
	.content-embed {
		&.caption-top {
			display: flex;
			flex-direction: column;
			margin-block-start: 0;
	
			figcaption {
				display: contents;
				.embed-caption {
					order: -1;
					font-weight: normal;
					text-align: start;
				}
			}
		}
		cite {
			display: block;
			text-align: right;
			&::before {
				content: "– ";
				font-weight: normal;
			}
		}
		.inline-caption {
			font-weight: bold;
			font-style: italic;
			&::after {
				content: ". ";
			}
		}
	}

	h4.magic-item {
		border-block: 1px solid currentcolor;
		background: rgb(0 0 0 / 0.05);
		text-transform: unset;
	}
	p.magic-item {
		color: var(--bf-text-color-blue);
		font-family: var(--bf-font-primary);
		font-style: italic;

		.price { float: right; }
	}

	section.embedded-features {
		margin-inline-start: 1em;
	}
	ul.embedded-features {
		li {
			margin-block-end: 0.5em;

			strong:first-child {
				font-style: italic;
				&::after { content: "."; }
			}
			strong + p {
				display: inline;
			}
		}
	}
}

dfn {
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
}
