.black-flag.pc.sheet .sheet-body [data-tab="main"] {
	gap: 0.25rem;
	grid-template-columns:
		[full-start left-start] 200px [left-end center-start] 200px [center-end right-start] auto [right-end full-end];
	grid-template-rows: [top-start] max-content [top-end main-start] 1fr [main-end];

	> section {
		grid-row: main;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		&.top {
			grid-column: full;
			grid-row: top;
		}
		&.left { grid-column: left; }
		&.center { grid-column: center; }
		&.right { grid-column: right; }

		> :last-child { flex-grow: 1; }
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*              Abilities              */
	/* <><><><> <><><><> <><><><> <><><><> */

	.abilities {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 3rem 0;
		justify-content: space-evenly;
		margin-block-end: 1rem;

		.ability {
			flex-basis: 6rem;
			contain: layout;
			display: flex;
			justify-content: center;
			margin-block-start: 1rem;
			margin-block-end: -1rem;
			margin-inline-end: 0.5rem;
			margin-inline-start: -0.5rem;
			padding-block-end: 1.5rem;

			.value {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 90%;
				aspect-ratio: 1;
				background-color: var(--bf-color-fill);
				border: 2px solid var(--bf-color-border-gray);
				border-radius: 100%;
				font-size: var(--font-size-16);
				text-align: center;
			}

			.value[data-action]:hover, .value[data-action]:focus {
				text-shadow: none;
				border-color: var(--bf-color-border-light-blue);
				box-shadow: 0 0 2px 0 var(--bf-color-border-light-blue);
			}
			.value[data-action]:focus {
				box-shadow: 0 0 6px 0 var(--bf-color-border-light-blue);
			}

			.ability-score {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 6.5rem;
				height: 6.5rem;
				border-radius: 100%;
				background-color: var(--bf-color-border-blue);
				z-index: 2;

				label {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 0;

					.label {
						order: 2;
						font-size: var(--font-size-11);
						font-weight: bold;
						text-transform: uppercase;
					}
					.score {
						order: 1;
						font-size: var(--font-size-24);
					}
				}
			}
			.ability-mod {
				position: absolute;
				bottom: -0.5rem;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				width: 3.5rem;
				height: calc(3.5rem + 2px);
				background-color: var(--bf-color-border-blue);
				border-radius: 100%;
				z-index: 3;
	
				.value {
					font-size: var(--font-size-16);
				}
			}
			.ability-save {
				position: absolute;
				top: -1.5rem;
				right: -2rem;
				width: 4rem;
				height: 4rem;
				z-index: 1;
	
				.proficiency-selector {
					position: absolute;
					left: -0.7rem;
					top: 0.5rem;
				}
				button {
					width: 100%;
					height: 100%;
					padding: 0.25rem;
					display: flex;
					flex-direction: column;
					contain: layout;
	
					.label {
						position: absolute;
						top: 0px;
						bottom: 0px;
						right: 0px;
						left: 0px;
						rotate: -120deg;
						path {
							fill: transparent;
						}
						text {
							fill: rgba(0, 0, 0, 0.6);
							font-size: 0.55rem;
							text-transform: uppercase;
						}
					}
					.mod {
						position: absolute;
						display: flex;
						align-items: center;
						justify-content: center;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;
						padding-inline-start: 0;
						padding-block-end: 0;
					}
				}
			}
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*               Actions               */
	/* <><><><> <><><><> <><><><> <><><><> */

	.actions {
		flex-grow: 1;
		blackFlag-actions {
			margin-inline: calc(-0.5rem - 2px);
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*             Armor Class             */
	/* <><><><> <><><><> <><><><> <><><><> */

	.armor-class {
		display: flex;
		flex-direction: column;
		align-items: center;
	
		.ac-shield {
			width: 4.5rem;
			height: 4.5rem;
			contain: layout;
			display: flex;
			align-items: center;
			justify-content: center;
	
			.value {
				z-index: 1;
				font-size: var(--font-size-24);
				padding-block-end: 0.4rem;
			}
			.frame {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
				--icon-size: 100%;
			}
		}
		.ac-label {
			font-size: var(--font-size-13);
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*          Hit Points & Dice          */
	/* <><><><> <><><><> <><><><> <><><><> */

	.hit-points {
		gap: 0.25rem;
		padding-block-end: 0.25rem;

		> div:not(.hit-dice) {
			display: flex;
			margin-inline: calc(-0.25rem - 3px);
			border: 1px solid var(--bf-color-border-gray);
			border-radius: 6px;

			> * {
				flex: 1 1 40%;

				&:first-child {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
				&:last-child {
					border-top-right-radius: 6px;
					border-bottom-right-radius: 6px;
				}
			}
			.separator {
				flex: 0 0 1px;
				border-inline-end: 1px solid var(--bf-color-border-gray);
			}

			label {
				contain: layout;
				background-color: var(--bf-color-fill);
			
				.label {
					position: absolute;
					inset-block-start: 0;
					inset-inline: 0;
					color: var(--bf-text-color-light-label);
					font-size: var(--font-size-11);
					text-align: center;
				}
				.value {
					flex-grow: 1;
					display: block;
					height: unset;
					border: none;
					padding-block-start: 0.75rem;
					background: none;
					text-align: center;
				}
			}

			.main-hit-points {
				.value {
					font-size: var(--font-size-20);
					padding-block-start: 1rem;
					padding-block-end: 0.5rem;
				}
			}
			.other-hit-points {
				.value {
					font-size: var(--font-size-16);
				}
			}
		}
		> div.death-saves {
			display: grid;
			gap: 0 0.5rem;
			background-color: var(--bf-color-fill);
			color: var(--bf-text-color-light-label);
			font-size: var(--font-size-11);
			text-align: center;
			text-variant: small-caps;

			blackFlag-deathSaves {
				inline-size: calc(100% - 8px);
				margin: 4px;
			}
		}
	}

	.hit-dice {
		padding-block-end: 0.25rem;

		.denomination {
			display: flex;
			margin-inline: calc(-0.25rem - 3px);
			background: var(--bf-color-fill);
			border: 1px solid var(--bf-color-border-gray);

			&:first-of-type {
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
			}
			&:last-of-type {
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
			}
			&:not(:last-of-type) {
				border-block-end: none;
			}

			> * {
				flex: 1 1 25%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-block: 0.15rem;
				padding-inline: 0.5rem;
				font-size: var(--font-size-14);
			}
			label {
				font-variant: small-caps;
			}
			.value {
				height: unset;
				width: 5px;
				min-width: 0;
				justify-content: flex-end;
				border: none;
				background: none;
				text-align: end;
			}
			input.value {
				outline: 1px solid color-mix(in oklab, var(--bf-color-border-blue), transparent 60%);
			}
			.separator {
				flex: 0 0 2px;
				border-inline-start: 2px solid var(--bf-color-border-gray);
				padding: 0;
				transform: skew(-20deg);
			}
			.max {
				justify-content: flex-start;
			}
			button {
				background: none;
				border: none;

				&:disabled {
					opacity: 0.25;
				}
			}
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*              Initiative             */
	/* <><><><> <><><><> <><><><> <><><><> */

	.initiative {
		.block {
			> * { flex: 1 1 50%; }
			.value { font-size: var(--font-size-16); }
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*                Luck                 */
	/* <><><><> <><><><> <><><><> <><><><> */

	.luck {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*               Resting               */
	/* <><><><> <><><><> <><><><> <><><><> */

	.resting {
		flex-direction: row;
		flex-grow: 0 !important;
		gap: 0.25rem;
	
		button {
			flex: 50% 1 1;
			width: unset;
			font-size: var(--font-size-11);
			line-height: 1.25em;
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*            Skills & Tools           */
	/* <><><><> <><><><> <><><><> <><><><> */

	:is(.skills, .tools) {
		gap: 0;
		padding: 0.35rem;

		> .block {
			display: flex;
			align-items: first baseline;
			justify-content: space-between;
			gap: 4px;
			padding-inline-start: 4px;
	
			.proficiency-selector {
				display: block;
				padding: 0;
				height: 14px;
				align-self: center;
			}
			button {
				flex-grow: 1;
				display: flex;
				align-items: first baseline;
				gap: 0.25rem;
				padding-block: 2px;
				font-size: var(--font-size-11);
				line-height: var(--font-size-13);

				&:hover, &:focus {
					z-index: 1;
				}
			}
			.ability {
				font-variant: small-caps;
				color: var(--bf-text-color-light-label);
			}
			.mod {
				flex-grow: 1;
				text-align: right;
				font-size: var(--font-size-14);
			}

			&:not(:first-of-type) {
				border-block-start: 0;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
			&:not(:last-of-type) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}

	/* <><><><> <><><><> <><><><> <><><><> */
	/*               Traits                */
	/* <><><><> <><><><> <><><><> <><><><> */

	.traits {
		gap: 3px;

		.trait {
			> * {
				font-size: var(--font-size-12);
			}
			> label {
				color: var(--bf-text-color-light-label);
				flex-wrap: nowrap;
			}

			&.single {
				> label { flex: 0 0 33%; }
				> span { flex: 1 1 66%; }
			}
			&:not(.single) {
				flex-wrap: wrap;
				> label {
					flex: 0 0 100%;
				}
			}

			&:not(:first-of-type) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
			&:not(:last-of-type) {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}
