[data-tab="spellcasting"] .spellcasting-origins {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 12px;
	margin-block-start: 6px;

	.source-details {
		border: 2px solid var(--item-color);
		border-radius: 4px;
		background: color-mix(in oklab, var(--bf-color-fill), transparent);
		box-shadow: 0 0 4px rgb(0 0 0 / 45%);

		h3 {
			border-block-end: 1px solid var(--item-color);
			padding-inline: 6px;
			font-family: var(--bf-font-header);
			font-size: var(--font-size-16);
			text-align: center;
		}

		h4 {
			margin-block-end: 6px;
			font-family: var(--bf-font-primary);
			font-size: var(--font-size-12);
			font-weight: bold;
		}

		ul {
			display: flex;
			padding: 0;
			margin: 6px;
			list-style: none;
		}

		li {
			min-width: 60px;
			padding-inline: 6px;
			padding-block-end: 4px;
			text-align: center;

			&:not(:last-of-type) {
				border-inline-end: 0.5px solid var(--item-color);
			}

			span {
				text-transform: uppercase;
			}
		}
	}
}

[data-tab="spellcasting"] blackFlag-inventory {
	--inventory-image-size: 30px;
	flex-grow: 1;

	.slots {
		font-family: var(--bf-font-primary);
		padding-inline-end: 0.5rem;

		> .layout {
			justify-content: flex-end;
			gap: 4px;
		}
		input.max {
			inline-size: 2em;
			background-color: rgb(0 0 0 / 0.05);
			padding-block: 0;
		}
	}
	.casting, .range, .target, .hit, .effect {
		text-align: center;
	}

	tr[data-spell-type="standard"][data-spell-prepared] {
		--background-gradient-color: #007cff;
	}
	tr[data-spell-type="standard"][data-spell-always-prepared] {
		--background-gradient-color: #5000ff;
	}
	tr[data-properties~="ritual"] {
		--background-gradient-color: #0eff00;
	}

	[data-action="prepare"] {
		&.active {
			filter:
				drop-shadow(0 0 1px rgb(255 255 255 / 1))
				drop-shadow(0 0 2px rgb(255 255 255 / .66))
				drop-shadow(0 0 3px rgb(255 255 255 / .33));
		}
	}
}

[data-tab="spellcasting"] .manage-spells {
	flex-grow: 0 !important;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	button {
		flex: 0 0 300px;
		padding-inline: 10px;
	}
}
