[data-tab="spellcasting"] blackFlag-inventory {
	--inventory-image-size: 30px;

	.slots {
		font-family: var(--bf-font-primary);
		padding-inline-end: 0.5rem;

		> .layout {
			justify-content: flex-end;
		}
	}
	.casting, .range, .target, .hit, .effect {
		text-align: center;
	}

	tr[data-spell-type="standard"][data-spell-prepared="true"] {
		--background-gradient-color: #007cff;
	}
	tr[data-spell-type="alwaysPrepared"] {
		--background-gradient-color: #5000ff;
	}
	tr[data-spell-type="atWill"] {
		--background-gradient-color: #0eff00;
	}
	tr[data-spell-type="innate"] {
		--background-gradient-color: #f44444;
	}

	[data-action="prepare"] {
		&.active {
			filter:
				drop-shadow(0 0 1px rgb(255 255 255 / 1))
				drop-shadow(0 0 2px rgb(255 255 255 / .66))
				drop-shadow(0 0 3px rgb(255 255 255 / .33));
		}
	}
}
