.black-flag.health.config-sheet {
	.multiplier {
		flex: 0 0 4em;
		text-align: center;
		.times { font-size: var(--font-size-14); }
	}
	.form-group > label .content-link > i {
		display: none;
	}
	.hit-dice {
		input, .max { text-align: center; }
		button { flex: 0 0 100px; }
	}
}
