.black-flag.resistance.config-sheet {
	.window-content {
		display: grid;
		grid-template-columns: max-content max-content max-content;
		grid-template-rows: max-content max-content;
		gap: 12px;

		[data-application-part="conditions"] {
			grid-column: 3;
			grid-row: 1 / -1;
		}
	}

	table {
		tr:hover, tr:has(input:focus-visible),
		&:has(td:nth-child(2):is(:hover, :focus-visible)) col.res,
		&:has(td:nth-child(3):is(:hover, :focus-visible)) col.imm,
		&:has(td:nth-child(4):is(:hover, :focus-visible)) col.vul {
			background: color-mix(in oklab, var(--bf-blue), transparent 80%);
		}
		td, th {
			padding-inline: 3px;
			text-align: center;
		}
		th {
			font-variant: small-caps;
		}
		tr, col {
			transition: background 100ms ease;
		}
		input[type="checkbox"] {
			margin-block: 0;
			margin-inline: 6px;
		}
	}
}
