.black-flag.resistance.config.app {
	form {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-template-rows: max-content max-content;

		> .conditions {
			grid-column: 2;
			grid-row: 1 / -1;
		}
	}

	table {
		tr:hover, tr:has(input:focus-visible),
		&:has(td:nth-child(2):is(:hover, :focus-visible)) col.res,
		&:has(td:nth-child(3):is(:hover, :focus-visible)) col.imm,
		&:has(td:nth-child(4):is(:hover, :focus-visible)) col.vul {
			background: color-mix(in oklab, var(--bf-blue), transparent 80%);
		}
		td, th {
			padding-inline: 3px;
			text-align: center;
		}
		tr, col {
			transition: background 100ms ease;
		}
	}
}
