@import "conditions.css";
@import "item-lists.css";
@import "luck.css";
@import "proficiency-selector.css";

@import "npc.css";
@import "pc.css";

@import "xp-bar.css";

@import "config/language-config.css";
@import "config/proficiency-config.css";
@import "config/resistance-config.css";

@import "ability-assignment-dialog.css";
@import "concept-selection-dialog.css";
@import "config-dialog.css";
@import "level-up-dialog.css";
@import "rest-dialog.css";

.actor .sheet-body .tab[data-tab] { height: 100%; }

.tab[data-tab] {
	&.flex-tab {
		flex-direction: column;
		&.active { display: flex; }
		> :last-child { flex-grow: 1; }
	}
	&.grid-tab {
		&.active { display: grid; }
	}
}
