.concept-selection-dialog {
	--entry-size: 400px;

	.empty {
		block-size: 100%;
		inline-size: 100%;
		padding: 1rem;
		font-size: var(--font-size-16);

		> p {
			max-inline-size: 30em;
		}
	}
}

.concept-selection-dialog:is(.class, .subclass) .window-content {
	block-size: 800px;
	max-inline-size: min(1400px, 75vw);
	min-inline-size: var(--entry-size);
	overflow-inline: scroll;
	padding: 0;

	form {
		display: flex;
		flex-direction: row;

		.option {
			display: flex;
			flex-direction: column;
			max-inline-size: var(--entry-size);

			.choose {
				inline-size: unset;
				margin-inline: 0.5rem;
				margin-block: 0.5rem;
			}
		}
	}
}

.concept-selection-dialog:not(:is(.class, .subclass)) .window-content {
	--entry-size: 200px;

	max-block-size: min(800px, 75vh);
	min-block-size: calc(var(--entry-size) * 2);
	max-inline-size: min(800px, 75vw);
	min-inline-size: 500px;
	overflow-block: scroll;
	padding: 0;

	form {
		.option {
			contain: layout;
			block-size: calc(var(--entry-size) + 2px);
			inline-size: 100%;
			border-block-end: 2px solid black;

			.poster {
				--poster-size: 160px;

				margin: 0;
				position: absolute;
				inset-block: 0;
				inset-inline-start: 0;
				inline-size: var(--poster-size);
				contain: layout;

				img {
					block-size: 146px;
					inline-size: 146px;
					margin: 2px;
					border: none;
				}

				button {
					position: absolute;
					inline-size: calc(130px - 2px);
					inset-block-start: var(--poster-size);
					inset-block-end: 10px;
					inset-inline-start: 10px;
					inset-inline-end: 20px;
					z-index: 1;
					background: rgb(228, 228, 202);
					font-weight: bold;
					font-variant: small-caps;
				}

				.window-mask {
					position: absolute;
					inset: 0;
					background-image: url("artwork/interface/window-mask.svg");
					background-repeat: no-repeat;
					background-size: contain;
					z-index: 0;
				}
			}

			.info {
				margin-inline-start: 150px;
				display: flex;
				flex-wrap: wrap;
				align-content: flex-start;
				padding: 1rem;

				> header {
					flex: 1 0 100%;
					display: flex;
					align-items: first baseline;
					justify-content: space-between;

					.name {
						border: none;
						margin: 0;
						font-size: var(--font-size-20);
					}
					.source {
						font-variant: small-caps;
					}
				}
			}
		}
	}
}
