.black-flag.config.app form, .black-flag.config-sheet {
	select[name="selectedId"] {
		height: unset;
		padding-block: .25em;
		font-size: var(--font-size-18);
		text-align: center;
	}

	label > :is(input, select, multi-select) {
		flex-grow: 1;
		width: unset;
	}

	.modifier-list {
		ul {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			list-style: none;
			margin: 0;
			margin-block-end: 0.5rem;
			padding: 0;
		}

		li {
			display: flex;
			align-items: center;
			gap: 0.5rem;

			.proficiency {
				justify-content: center;
				gap: 0;
				span:first-child {
					font-size: var(--font-size-11);
				}
				input {
					flex: 0;
					width: 15px;
					height: 15px;
					margin: 0;
					margin-block-end: 5px;
				}
			}
			.roll-mode {
				width: 5em;
			}
		}

		.modifier-controls {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 1rem;
			margin-inline-start: 0.5rem;
		}

		[data-sub-action="add"] {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}

.black-flag.config.app form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.black-flag.config-sheet {
	.window-content > section:is(.flexcol, .flexrow) {
		gap: 8px;
	}
}
