.black-flag.pc.sheet [data-tab="inventory"] {
	.items-list {
		.traits {
			width: 14rem;
		}

		.item {
			contain: layout;
		}
		.item-equipped {
			position: absolute;
			left: -1.5rem;

			input {
				width: 12px;
				height: 12px;
			}
		}
	}
}
