[data-tab="inventory"] blackFlag-inventory {
	.weight, .quantity, .cost {
		text-align: center;
	}
	.traits {
		width: 14rem;
	}
	.equipped {
		text-align: center;
		input {
			width: 12px;
			height: 12px;
		}
	}
}
