.level-up-dialog {
	.items-list {
		margin: 0.5rem;
		.item-name {
			inline-size: 12rem;
		}
	}
	.item-details {
		flex-direction: column;
		align-items: flex-start;

		.levels {
			font-weight: bold;
			font-variant: small-caps;
		}
	}
	.warning {
		margin: 0;
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-12);
		font-weight: 600;
	}
	button {
		padding-inline: 1rem;
	}
}
