.black-flag.pc.sheet .sheet-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.sheet-head {
		display: flex;
		gap: 0.5rem;

		.profile {
			width: 60px;
			height: 60px;
		}

		h1 {
			flex: 1 0 50%;
			margin: 0;
			border: none;
			
			[name="name"] {
				height: 100%;
				text-align: center;
			}
		}

		.proficiency-bonus {
			flex: 0 0 10%;
		}

		.progression {
			flex: 1 0 20%;
			padding: 0;

			> legend {
				margin-inline: 0.65rem;
			}

			[data-tab] {
				display: flex;
				margin-block-start: -1ex;
				padding-block: 0.25rem;
				padding-inline: 0.65rem;
				align-items: center;
				justify-content: space-evenly;
				width: 100%;
				height: calc(100% + 1ex);
			}

			.text {
				font-size: var(--font-size-18);
				font-weight: 100;
			}

			.icon {
				opacity: 0.5;
			}
			& a:hover .icon {
				opacity: 1;
			}

			.active {
				display: none;
			}
		}
	}

	[data-tab="front"] > main {
		flex-grow: 1;

		> div {
			height: 100%;
		}

		[data-tab="main"] > section {
			display: grid;
			gap: 0.25rem;
			grid-template-columns: repeat(12, 1fr);
			grid-template-rows: repeat(14, min-content);
			height: 100%;
		
			.abilities {
				grid-column: 1 / -1;
				grid-row: 1 / span 2;
				display: flex;
				flex-wrap: wrap;
				gap: 3rem 0;
				justify-content: space-evenly;
				margin-block-end: 1rem;

				.ability {
					flex-basis: 6rem;
					contain: layout;
					display: flex;
					justify-content: center;
					margin-block-start: 1rem;
					margin-block-end: -1rem;
					margin-inline-end: 0.5rem;
					margin-inline-start: -0.5rem;
					padding-block-end: 1.5rem;

					.value {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 90%;
						aspect-ratio: 1;
						background-color: white;
						border: 2px solid var(--bf-color-border-gray);
						border-radius: 100%;
						font-size: var(--font-size-16);
						text-align: center;
					}

					.value[data-action]:hover {
						text-shadow: none;
						border-color: var(--bf-color-border-light-blue);
						box-shadow: 0 0 2px 0 var(--bf-color-border-light-blue);
					}

					.ability-score {
						display: flex;
						align-items: center;
						justify-content: center;
						width: 6.5rem;
						height: 6.5rem;
						border-radius: 100%;
						background-color: var(--bf-color-border-blue);
						z-index: 2;

						label {
							display: flex;
							flex-direction: column;
							.label {
								order: 2;
								font-size: var(--font-size-11);
								font-weight: bold;
								text-transform: uppercase;
							}
							.score {
								order: 1;
								font-size: var(--font-size-24);
							}
						}
					}
					.ability-mod {
						position: absolute;
						bottom: -0.5rem;
						display: flex;
						align-items: flex-start;
						justify-content: center;
						width: 3.5rem;
						height: calc(3.5rem + 2px);
						background-color: var(--bf-color-border-blue);
						border-radius: 100%;
						z-index: 3;

						.value {
							font-size: var(--font-size-16);
						}
					}
					.ability-save {
						position: absolute;
						top: -1.5rem;
						right: -2rem;
						width: 4rem;
						height: 4rem;
						z-index: 1;

						.proficiency-selector {
							position: absolute;
							left: -0.7rem;
							top: 0.5rem;
						}
						a {
							width: 100%;
							height: 100%;
							padding: 0.25rem;
							display: flex;
							flex-direction: column;
							contain: layout;

							.label {
								position: absolute;
								top: 0px;
								bottom: 0px;
								right: 0px;
								left: 0px;
								rotate: -120deg;
								path {
									fill: transparent;
								}
								text {
									fill: rgba(0, 0, 0, 0.6);
									font-size: 0.55rem;
									text-transform: uppercase;
								}
							}
							.mod {
								position: absolute;
								display: flex;
								align-items: center;
								justify-content: center;
								top: 0;
								bottom: 0;
								right: 0;
								left: 0;
								padding-inline-start: 0;
								padding-block-end: 0;
							}
						}
					}
				}
			}
			.skills {
				grid-column: 1 / 4;
				grid-row: 3 / 10;
				padding: 0.35rem;

				> .skill {
					display: flex;
					align-items: first baseline;
					justify-content: space-between;
					gap: 0.25rem;

					.skill-roll {
						flex-grow: 1;
						display: flex;
						align-items: first baseline;
						gap: 0.25rem;
					}
					.name {
						font-size: var(--font-size-11);
					}
					.ability {
						font-size: var(--font-size-11);
						text-transform: uppercase;
					}
					.mod {
						flex-grow: 1;
						text-align: right;
					}
					.passive {
						opacity: 0.7;
						font-size: var(--font-size-11);
					}
				}
			}
			.tools {
				grid-column: 1 / span 3;
				grid-row: 10 / -1;
			}
			.hit-points {
				grid-column: 10 / 13;
				grid-row: 3 / span 2;
			}
			.hit-dice {
				grid-column: 10 / 13;
				grid-row: 5 / span 2;
			}
			.armor-class {
				grid-column: 4 / span 3;
				grid-row: 3 / span 2;
			}
			.initiative {
				grid-column: 4 / span 3;
				grid-row: 5 / span 2;
			}
			.movement {
				grid-column: 7 / span 3;
				grid-row: 5 / span 2;

				display: flex;
				flex-direction: column;

				.primary {
					font-size: var(--font-size-16);
				}
				.secondary {
					font-size: var(--font-size-12);
				}
			}
			.luck {
				grid-column: 7 / span 3;
				grid-row: 3 / span 2;
			}
			.traits {
				grid-column: 4 / 7;
				grid-row: 7 / -1;

				.trait {
					> label {
						font-weight: bold;
					}
				}
			}
			.actions {
				grid-column: 7 / 13;
				grid-row: 7 / -1;
			}
		}
	}

	[data-tab="back"] > main {
		
	}
}
