.black-flag:is(.npc, .vehicle).sheet {
	min-block-size: 420px;
	min-inline-size: 420px;
	max-block-size: 90vh;

	container: sheet / inline-size;
	--end-border-radius: 18px;
	--icon-fill: var(--bf-blue);

	form {
		column-width: 420px;
		display: flex;
		flex-direction: column;
	}

	:is(input, select, textarea):is(:hover:not(:disabled), :focus) {
		box-shadow: 0 0 4px 1px var(--bf-color-border-light-blue);
	}

	&:not(.minimized) .window-title .title-text {
		display: none;
	}

	@container sheet (width <= 650px) {
		.window-header .header-button > span {
			position: absolute;
			left: -1000px;
			opacity: 0%;
			inline-size: 1px;
			block-size: 1px;
			overflow: hidden;
		}
	}

	.sheet-head {
		display: grid;
		position: relative;
		grid-template-columns: 1fr 4em;
		border-start-end-radius: var(--end-border-radius);
		border-end-end-radius: var(--end-border-radius);
		background: var(--bf-dark-blue);
		color: var(--bf-text-color-white);
		font-size: var(--font-size-16);
		font-weight: bold;

		h1, input {
			margin: 0;
			border: none;
			background: none;
			color: inherit;
			font-size: inherit;
			font-weight: inherit;
		}
		label {
			display: flex;
			align-items: first baseline;
			justify-content: flex-end;
		}
		[name="system.attributes.cr"] {
			width: 2.5em;
			border-start-end-radius: var(--end-border-radius);
			border-end-end-radius: var(--end-border-radius);
			margin-inline-start: 3px;
		}
		z-index: 1;
	}

	.sheet-navigation {
		display: flex;
		justify-content: flex-start;
		margin-block-end: 4px;
		margin-inline-end: 12px;
		gap: 2px;
		font-size: var(--font-size-12);

		a {
			flex: 1 1 10%;
			display: block;
			max-inline-size: 10em;
			border: 1px solid transparent;
			border-block-start: none;
			border-end-start-radius: 4px;
			border-end-end-radius: 4px;
			padding-block-start: 4px;
			padding-block-end: 2px;
			padding-inline: 4px;
			text-align: center;
			text-decoration: none;
		}
		a:hover, a:focus {
			border-color: var(--bf-color-border-gray);
		}
		a.active {
			background: var(--bf-dark-blue);
			border-color: var(--bf-color-border-blue);
			color: var(--bf-text-color-white);
		}
	}

	.sheet-body {
		flex-grow: 1;
		.tab {
			height: 100%;
			> section { height: 100%; }
		}
	}

	[data-tab="biography"] {
		section {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.artwork {
				display: flex;
				justify-content: space-evenly;

				figure {
					display: flex;
					flex-direction: column;
					gap: 4px;
					margin: 0;
				}
				figcaption {
					font-family: var(--bf-font-primary);
					font-size: var(--font-size-12);
				}
				.profile {
					margin: 0;
					min-inline-size: 32px;
					min-block-size: 32px;
					max-block-size: 64px;
					border: 1px solid transparent;
					object-fit: contain;
					cursor: pointer;
				}
			}

			.editor {
				flex-grow: 1;
				min-height: 150px;
			}

			.source {
				display: flex;
				gap: 8px;
				align-items: center;

				> span:first-child {
					min-width: max-content;
				}
			}
		}
	}
}
