@import "tabs/pc-main-tab.css";
@import "tabs/features-tab.css";
@import "tabs/progression-tab.css";
@import "tabs/spellcasting-tab.css";

.black-flag.pc.sheet {
	min-block-size: 500px;
	min-inline-size: 500px;

	.sheet-container {
		container: sheet / inline-size;
	}

	.profile {
		border: 1px solid transparent;
		border-radius: 0;

		&[data-edit] {
			border-color: var(--bf-color-border-blue);
		}
	}

	input[name="name"] {
		border: 1px solid var(--bf-color-border-blue);
		border-radius: 0;

		&:disabled {
			border-width: 2px;
			background: none;
			color: black;
		}
	}

	nav.tabs {
		margin-block-start: 0;
	}

	form.front {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.sheet-body {
		flex-grow: 1;
	}
}
