.black-flag.pc.sheet .back {
	.leveling .wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: first baseline;

		.current-level {
			flex: 1 1 50%;
			font-size: var(--font-size-24);
		}
		[data-sub-action="level-up"] {
			font-size: var(--font-size-18);
			padding-inline: 0.5em;
		}
	}

	.xp {
		--bar-height: 14px;
		--bar-inset: 2px;

		flex: 1 1 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.5rem;
		font-family: var(--bf-font-primary);
		font-weight: 100;

		.bar {
			grid-column: 1 / -1;
			container: xp-bar / size;
			block-size: var(--bar-height);
			inline-size: 100%;
			border: 1px solid black;
			border-radius: var(--bar-height);
			background-color: var(--bf-color-fill);
		}
		.bar::after {
			content: "";
			position: absolute;
			min-inline-size: calc(var(--bar-height) - var(--bar-inset) * 2);
			max-inline-size: calc(100% - var(--bar-inset) * 2);
			inset: var(--bar-inset);
			inset-inline-end: calc((100% - var(--bar-inset) * 2) - var(--bar-percentage));
			background-color: var(--bf-blue);
			border-radius: calc(var(--bar-height) - var(--bar-inset) * 2);
		}
		label {
			margin-inline-start: var(--bar-height);
		}
		.values {
			margin-inline-end: var(--bar-height);
			text-align: end;
		}
		.input {
			--input-border-radius: 1em;
			display: grid;
			grid-template-columns: 2fr 1fr;
			align-items: stretch;
			border: 1px solid var(--bf-color-border-gray);
			border-radius: var(--input-border-radius);
			background: var(--bf-color-fill);
			> * {
				block-size: unset;
				inline-size: unset;
				border: none;
				background: none;
				text-align: center;
				font-size: var(--font-size-12);
				line-height: 1.5em;
			}
			input {
				border-inline-end: 1px solid var(--bf-color-border-gray);
				border-start-start-radius: var(--input-border-radius);
				border-end-start-radius: var(--input-border-radius);
			}
			input::placeholder {
				opacity: 60%;
			}
			button {
				display: flex;
				align-items: center;
				justify-content: center;
				border-start-end-radius: var(--input-border-radius);
				border-end-end-radius: var(--input-border-radius);
			}
		}
	}

	@container sheet (width > 600px) {
		.xp {
			grid-template-columns: 2fr 1fr 2fr;
		}
	}

	.details {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin-block-end: 0.5rem;

		.icon {
			margin: 0;
			
			> img {
				width: 35px;
				height: 35px;
				border: none;
				margin: 0;
			}
		}

		fieldset {
			min-width: calc(35px + 1rem + 10em);
			flex-direction: row;
			align-items: center;
			gap: 1rem;

			> span {
				font-size: var(--font-size-16);

				&:first-of-type {
					flex-grow: 1;
				}
				&.controls {
					opacity: 60%;
				}
				&.levels {
					font-size: var(--font-size-14);
					font-variant: small-caps;
					font-weight: bold;
				}
				.subclass {
					padding-inline-start: 0.25rem;
					font-size: var(--font-size-13);

					[data-sub-action="delete"] {
						padding-inline-start: 0.25rem;
						opacity: 60%;
					}
				}
				.subclass::before { content: "["; }
				.subclass::after { content: "]"; }
			}
		}

		.ability-selection, .lineage, .heritage {
			flex: 30% 1 1;
		}
		.background, .class {
			flex: 45% 1 1;
		}
	}

	.levels {
		> .level {
			margin-block-end: 1rem;

			h3 {
				display: flex;
				gap: 1rem;

				border: 2px groove white;
				border-radius: 1em 0;
				padding-inline: 1rem;
				padding-block: 0.25rem;
				background: linear-gradient(
					color-mix(in oklab, var(--bf-color-border-blue), white 30%),
					color-mix(in oklab, var(--bf-color-border-blue), white 10%),
					color-mix(in oklab, var(--bf-color-border-blue), black 20%)
				);
				color: white;
				box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25);

				& span:first-of-type {
					flex-grow: 1;
				}
			}
		}
	}
}
