.black-flag.pc.sheet [data-tab="back"] {
	.details {
		display: flex;
		justify-content: space-evenly;
	}

	.levels {
		& h3 {
			display: flex;
			justify-content: space-between;

			border: 2px groove white;
			border-radius: 1em 0;
			padding-inline: 1rem;
			padding-block: 0.25rem;
			background: linear-gradient(
				color-mix(in oklab, var(--bf-color-border-blue), white 30%),
				color-mix(in oklab, var(--bf-color-border-blue), white 10%),
				color-mix(in oklab, var(--bf-color-border-blue), black 20%)
			);
			color: white;
			box-shadow: 0px 3px 3px 2px rgba(0, 0, 0, 0.25);
		}
	}
}
