.rest.application {
	.hit-die-roll {
		align-items: center;
		justify-content: space-between;

		span:first-child {
			flex: 1;
			font-size: var(--font-size-16);
			font-variant: none;
			font-weight: normal;
		}

		button {
			flex: 33% 0 0;
			width: unset;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.25em;
			blackflag-icon { display: contents; }
		}
	}
}
