.black-flag.spell-manager {
	min-block-size: 400px;
	min-inline-size: 600px;

	.window-content {
		padding: 0;
		background: rgb(40 40 40);

		.sheet-container {
			display: grid;
			max-height: 100%;
			overflow: hidden;
			grid-template-areas:
				"slots restrictions"
				"slots search"
				"slots spells"
				"slots controls";
			grid-template-columns: 250px 1fr;
			grid-template-rows: max-content max-content 1fr max-content;

			> * {
				color: var(--bf-text-color-white);
			}
			> .slots {
				grid-area: slots;
				overflow-y: auto;
			}
			> .restrictions { grid-area: restrictions; }
			> .search { grid-area: search; }
			> .spells {
				grid-area: spells;
				overflow-y: auto;
			}
			> .controls { grid-area: controls; }
		}
	}

	.spell-list {
		--icon: 32px;
		--padding: 8px;
		--inset: 4px;

		li {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: stretch;
			border: .5px solid rgb(80 80 80);
			color-scheme: dark;

			&::before {
				content: "";
				position: absolute;
				inset: 0;
				outline: 1px solid rgb(120 120 120 / 20%);
				outline-offset: -3px;
			}
		}
		label {
			flex: 1;
			display: flex;
			align-items: stretch;
			gap: var(--padding);
			margin: calc(var(--inset) + 2px);
			background: rgb(80 80 80 / 20%);
			border: 1px solid rgb(0 0 0);
			border-radius: calc(var(--icon) / 2);
			cursor: pointer;
			z-index: 1;

			&:hover, &:focus-visible { border-color: var(--bf-color-border-blue); }
			> * {
				display: flex;
				align-items: center;
			}
		}
		li.selected label, label:has(input:checked) { border-color: var(--bf-color-border-gray); }
		label:has(input:disabled) {
			text-decoration: line-through;
			text-decoration-color: rgb(150 75 75);
			text-decoration-thickness: 4px;
		}
		.icon > :where(img, .placeholder) {
			inline-size: var(--icon);
			block-size: var(--icon);
			border: 1px dashed currentcolor;
			border-radius: 100%;
		}
		.icon > .placeholder {
			display: flex;
			align-items: center;
			place-content: center;
			font-family: var(--bf-font-primary);
			font-size: calc(var(--icon) * .5);
			opacity: 60%;
		}
		.icon > img {
			background: black;
			border: 1px solid var(--bf-blue);
			object-fit: cover;
			object-position: center;
		}
		.name {
			flex: 1;
			font-size: var(--font-size-16);
		}
		.control {
			flex: 0 0 24px;

			input[type="radio"] {
				margin: 0;
				margin-block-end: 3px;
				accent-color: var(--bf-blue);
			}
		}
	}

	.restrictions {
		padding: 8px;
	}

	section.spells {
		container: spells / inline-size;

		ul {
			display: flex;
			flex-wrap: wrap;
			overflow-y: auto;
		}
		li { flex: 0 0 100%; }

		@container (width > 450px) {
			li { flex: 0 1 50%; }
		}
		@container (width > 650px) {
			li { flex: 0 1 33%; }
		}
	}
}
