.black-flag.spell-manager {
	min-block-size: 400px;
	min-inline-size: 550px;

	.window-content {
		padding: 0;

		.sheet-container {
			display: grid;
			grid-template-columns: 150px 3fr 2fr;
		}
	}
}
