.black-flag.actor.sheet section.spellcasting {
	table {
		tbody {
			tr {
				:is(td, th) {
					position: relative;
					padding-inline: 0.25rem;

					> div.layout {
						display: flex;
						align-items: center;
						gap: 0.5rem;
					}
				}
				:is(td, th):not(:first-child):not(:last-child)::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					border-inline-end: 1px solid var(--bf-color-border-gray);
					mask-image: linear-gradient(to bottom, transparent, #000 30% 70%, transparent);
				}
			}

			> tr:first-child {
				border: 2px inset color-mix(in oklab, var(--bf-color-border-blue), white 40%);
				font-family: var(--bf-font-header);
				font-weight: 600;

				.name {
					padding-inline-start: 0.5rem;
					font-variant: small-caps;
				}
				.slots {
					font-family: var(--bf-font-primary);
					padding-inline-end: 0.5rem;

					> .layout {
						justify-content: flex-end;
					}
				}
			}

			> tr:not(:first-child) {
				.name {
					figure {
						margin: 0;

						img {
							width: 30px;
							height: 30px;
							border: none;
							background-color: black;
						}
					}
				}
				.components {
					padding-inline-end: 0.5rem;

					> .layout {
						justify-content: flex-end;
					}
				}
				.casting, .range, .target, .hit, .effect {
					text-align: center;
				}
			}
		}
	}
}
