[data-tab="spellcasting"] blackFlag-inventory {
	.slots {
		font-family: var(--bf-font-primary);
		padding-inline-end: 0.5rem;

		> .layout {
			justify-content: flex-end;
		}
	}
	.casting, .range, .target, .hit, .effect {
		text-align: center;
	}
}
