blackFlag-xpBar {
	--bar-height: 14px;
	--bar-inset: 2px;

	flex: 1 1 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0.5rem;
	font-family: var(--bf-font-primary);
	font-weight: 100;

	[role="meter"] {
		grid-column: 1 / -1;
		container: xp-bar / size;
		position: relative;
		block-size: var(--bar-height);
		inline-size: 100%;
		border: 1px solid black;
		border-radius: var(--bar-height);
		background-color: var(--bf-color-fill);
	}
	[role="meter"]::after {
		content: "";
		position: absolute;
		min-inline-size: calc(var(--bar-height) - var(--bar-inset) * 2);
		max-inline-size: calc(100% - var(--bar-inset) * 2);
		inset: var(--bar-inset);
		inset-inline-end: calc((100% - var(--bar-inset) * 2) - var(--bar-percentage));
		background-color: var(--bf-blue);
		border-radius: calc(var(--bar-height) - var(--bar-inset) * 2);
		transition: inset-inline-end 300ms ease-in-out;
	}
	label {
		margin-inline-start: var(--bar-height);
	}
	.values {
		margin-inline-end: var(--bar-height);
		text-align: end;
	}
	.input {
		--input-border-radius: 1em;
		display: grid;
		grid-template-columns: 2fr 1fr;
		align-items: stretch;
		border: 1px solid var(--bf-color-border-gray);
		border-radius: var(--input-border-radius);
		background: var(--bf-color-fill);
		> * {
			block-size: unset;
			inline-size: unset;
			border: none;
			background: none;
			text-align: center;
			font-size: var(--font-size-12);
			line-height: 1.5em;
		}
		input {
			border-inline-end: 1px solid var(--bf-color-border-gray);
			border-start-start-radius: var(--input-border-radius);
			border-end-start-radius: var(--input-border-radius);
		}
		input::placeholder {
			opacity: 60%;
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			border-start-end-radius: var(--input-border-radius);
			border-end-end-radius: var(--input-border-radius);
		}
	}
}
