@import "config.css";
@import "flow.css";
@import "selection.css";
@import "list.css";

@import "choose-features.css";

.advancement-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	> figure {
		display: flex;
		gap: 0.5rem;
		margin: 0;

		.advancement-origin {
			width: 7px;
			height: 7px;
			margin-inline-start: -10px;
			align-self: center;
			border-radius: 7px;
			background-color: var(--bf-advancement-color, black);
		}

		> img {
			width: 1.5em;
			height: 1.5em;
			border: none;
		}
	}

	> h4 {
		margin: 0;
		font-size: var(--font-size-14);
	}
}
