@import "config.css";
@import "flow.css";
@import "selection.css";

.advancement-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	> figure {
		margin: 0;

		> img {
			width: 1.5em;
			height: 1.5em;
			border: none;
		}
	}

	> h4 {
		margin: 0;
		font-size: var(--font-size-14);
	}
}
