.advancement-config.app form {
	& label {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		align-items: first baseline;

		& + label {
			margin-block-start: 0.5rem;
		}

		> span:first-child {
			font-weight: bold;
			font-variant: small-caps;
		}
		> input:not([type="checkbox"]), select {
			flex-grow: 1;
			width: unset;
		}

		&.file {
			button.file-picker + input[type="text"] {
				margin-right: 0 !important;
			}
		}
	}

	& fieldset + fieldset {
		margin-block-start: 0.5rem;
	}

	& .items {
		padding: 0.25rem 0.5rem;

		& ol {
			list-style: none;
			margin: 0;
			padding: 0;

			& li {
				display: flex;
				justify-content: space-between;
				margin-inline: -0.5rem;
				padding: 0.5rem;
				padding-block: 0.25em;

				&:hover {
					background-color: rgba(0 0 0 / 0.1);
				}

				& + li {
					margin-block-start: 0.25rem;
				}
			}
		}
		
		&.drop-target {
			.hint {
				border-radius: 10px;
				padding: 0.5rem;
				background: rgba(0 0 0 / 0.1);
				text-align: center;
			}
			& ol + .hint {
				margin-block-start: 0.5rem;
			}
			&.drag-over {
				border-color: red;
			}
		}
	}

	.level-list {
		margin: 0;
		padding: 0;
		list-style: none;

		.level label {
			flex-wrap: unset;

			> span:first-of-type {
				flex: 1em 1 0;
			}

			> input {
				width: 8em;
			}
		}
	}
}

.advancement-config.two-column.app form {
	--left-column: 50%;
	display: grid;
	grid-template-columns: calc(var(--left-column) - 0.25rem) calc(100% - var(--left-column) - 0.25rem);
	gap: 0.5rem;
}
