.advancement-config.app form {
	label {
		align-items: stretch;
		> span:first-child {
			flex: 0 1 min(10em, 33%);
			align-self: center;
		}

		+ label {
			margin-block-start: 0.5rem;
		}

		> input:not([type="checkbox"]), select {
			width: 10em;
			flex-grow: 1;
			align-self: center;
		}

		&.file {
			button.file-picker + input[type="text"] {
				width: 100px;
				margin-right: 0 !important;
			}
		}
	}

	textarea {
		resize: vertical;
	}

	fieldset + fieldset {
		margin-block-start: 0.5rem;
	}

	.items {
		padding: 0.25rem 0.5rem;

		ol {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: flex;
				justify-content: space-between;
				margin-inline: -0.5rem;
				padding: 0.5rem;
				padding-block: 0.25em;

				&:hover {
					background-color: rgba(0 0 0 / 0.1);
				}

				& + li {
					margin-block-start: 0.25rem;
				}
			}
		}
		
		&.drop-target {
			.hint {
				border-radius: 10px;
				padding: 0.5rem;
				background: rgba(0 0 0 / 0.1);
				text-align: center;
			}
			ol + .hint {
				margin-block-start: 0.5rem;
			}
			&.drag-over {
				border-color: red;
			}
		}
	}

	.option-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem 3rem;

		> li {
			flex: 1 1 40%;

			> label {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-radius: 5px;
				padding-inline-start: 0.25em;

				input:is([type="checkbox"], [type="radio"]) {
					flex: 0 0 20px;
					width: 20px;
					height: 20px;
					margin: 3px 5px;
				}

				&:hover {
					background-color: rgba(0 0 0 / 0.1);
				}
			}
		}
	}

	.level-list {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;

		.level label {
			flex-wrap: unset;

			> span:first-of-type {
				flex: 1 0 1em;
			}

			> input {
				width: 8em;
			}
		}
	}
}

.advancement-config.two-column.app form {
	--left-column: 50%;
	display: grid;
	grid-template-columns: calc(var(--left-column) - 0.25rem) calc(100% - var(--left-column) - 0.25rem);
	gap: 0.5rem;
}
