.advancement-config.app form {
	& label {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		align-items: first baseline;

		& + label {
			margin-block-start: 0.5rem;
		}

		> span:first-child {
			font-weight: bold;
			font-variant: small-caps;
		}
		> input {
			flex-grow: 1;
			width: unset;
		}

		&.file {
			button.file-picker + input[type="text"] {
				margin-right: 0 !important;
			}
		}
	}

	& fieldset + fieldset {
		margin-block-start: 0.5rem;
	}
}
