.actor.sheet .advancement-list form {
	> header {
		display: flex;
		gap: 1rem;

		.advancement-actions {
			display: flex;
			align-items: first baseline;
			gap: 1rem;

			> button {
				width: unset;
				padding-inline: 1em;
			}
		}
	}
}
