.advancement-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 1rem;
	margin-block-start: 0.5rem;
	padding: 0;
	list-style: none;

	.advancement-entry {
		display: flex;
		flex-wrap: wrap;
		align-items: last baseline;
		justify-content: space-between;
		gap: 0.5rem;

		&:not(:last-of-type) {
			border-block-end: 1px solid var(--bf-color-border-gray);
			padding-block-end: 0.25rem;
		}

		.class-restriction {
			opacity: 80%;
			font-size: var(--font-size-11);
			font-variant: small-caps;
		}

		.advancement-controls {
			display: flex;
			gap: 1rem;
		}

		.advancement-summary {
			flex: 1 1 100%;
			padding-block-end: 0.25rem;

			& p {
				margin-block: 0;
			}
		}
	}

	.choice-entry {
		.choice-name, .content-link {
			border: 1px solid color-mix(in oklab, var(--bf-item-color, var(--bf-blue)), black 35%);
			padding-inline: 0.25rem;
			border-radius: 5px;
			background-color: color-mix(in oklab, color-mix(in oklab, var(--bf-item-color, var(--bf-blue)), white 90%), transparent 50%);
			text-decoration: none;
		}

		[data-action] {
			margin-inline: 0.25rem;
		}
	}
}
