.advancement-list {
	margin: 1rem;
	margin-block-start: 0.5rem;
	padding: 0;
	list-style: none;

	.advancement-entry {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.advancement-summary {
			flex: 100% 1 1;
		}
	}
}
