.scale-value.advancement-config {
	.level-list {
		.level :is(input, select), .header span:not(:first-child) {
			flex: 1 1 100%;
			width: 1em;
			min-width: 1em;
		}
		.level .checkbox, .header span.checkbox {
			flex: 1 1 15px;
		}
		input[type="checkbox"] {
			align-self: center;
			width: 15px;
			height: 15px;
			margin-block: 0;
			margin-inline: 2px;
		}
		.header {
			font-weight: 700;
			font-variant: small-caps;
		}
		:is(input, select)::placeholder {
			opacity: 40%;
			font-style: italic;
		}
		select.placeholder {
			color: color-mix(in oklab, currentcolor, transparent 60%);
			font-style: italic;
		}
		[data-action] {
			align-self: center;
			opacity: 80%;
		}
	}
}
