.advancement-config.spellcasting.app form {
	.formula-controls {
		> span:first-child {
			flex: 0 0 min(10em, 33%);
		}
		button {
			flex: 1 0 5em;
			height: var(--form-field-height);
			font-size: var(--font-size-12);
			line-height: 1em;
		}
		input { 
			flex: 1 1 100%;
		}
	}
}
