<label class="source">
	<span class="hinted-label" data-tooltip="BF.SOURCE.FIELDS.description.source.book.hint">
		{{ localize "BF.SOURCE.Label" }}
	</span>
	<span>{{ system.description.source.label }}</span>
</label>
