<label class="source">
	<span class="hinted-label" data-tooltip="BF.Source.Hint">
		{{ localize "BF.Source.Label" }}
	</span>
	<input type="text" name="system.description.source.fallback" value="{{ system.description.source.fallback }}">
</label>
