<section>
	<fieldset>
		<legend>{{ localize "BF.Activity.Core.Description.Label" }}</legend>
		<prose-mirror name="description" data-document-u-u-i-d="{{ activity.uuid }}"
		              value="{{ activity.description }}" collaborate="false" toggled="true">
			{{{ enriched }}}
		</prose-mirror>
	</fieldset>
</section>
