<blackFlag-damageList name="system.damage.parts">
	<ul class="configuration-list">
		{{#each source.system.damage.parts}}
			<li data-index="{{ @index }}">
				{{> "blackFlag.activity-damage-part" damage=this prefix=(concat "$." @index ".")
				    types=@root.CONFIG.damageTypes.localized }}
			</li>
		{{else}}
			{{#unless editable}}
				<li class="add-control">{{ localize "None" }}</li>
			{{/unless}}
		{{/each}}
		{{#if editable}}
			<li class="add-control">
				<button type="button" class="link-button" data-action="add">
					<i class="fa-solid fa-plus" inert></i> {{ localize "BF.Activity.Damage.Action.Add" }}
				</button>
			</li>
		{{/if}}
	</ul>
<blackFlag-damageList>
