<fieldset>
	<legend>{{ localize "BF.DAMAGE.FIELDS.damage.label" }}</legend>
	<label class="full-checkbox">
		<span>{{ localize "BF.DAMAGE.FIELDS.damage.allowCritical.label" }}</span>
		<input type="checkbox" name="system.damage.allowCritical" {{ checked source.system.damage.allowCritical }}>
	</label>
	{{> "systems/black-flag/templates/activity/parts/damage-parts.hbs" }}
</fieldset>
