<div class="sheet-container">
	<section class="slots">
		<ul>
			{{#each slots}}
				<li>{{type}}</li>
			{{/each}}
		</ul>
	</section>
	<section class="spells">
		<div class="restrictions">
			restrictions
		</div>
		<search>
			search
		</search>
		<ul>
			<li>spell</li>
		</ul>
	</section>
	<section class="details">
		details
	</section>
</div>
