<section class="tab activity-{{ tab.id }} {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
		{{> "systems/black-flag/templates/activity/parts/check-details.hbs" }}
		{{> "systems/black-flag/templates/activity/parts/activity-effects.hbs" }}
</section>
