blackFlag-consumption {
	ul.configuration-list {
		li {
			flex-wrap: wrap;

			> .consumption {
				flex: 1 1 90%;
			}
			.field-group > label {
				flex-direction: row;
			}
			.target {
				flex: 0 0 12em;
				select { width: 12em; }
			}
			.value {
				flex: 0 0 calc(8em + var(--gap-size));
			}
			.value:has(+ .scale), .scale {
				flex: 0 0 6em;
			}
		}
	}
}
