blackFlag-consumption {
	ul {
		li {
			.target {
				flex: 0 0 8em;
				select {
					width: 8em;
				}
			}
			.value {
				flex: 0 0 calc(12em + var(--gap-size));
			}
			.value:has(+ .scale), .scale {
				flex: 0 0 6em;
			}
		}
	}
}
