blackFlag-copyable {
	display: inline;
	flex: 0 0 1em !important;

	text-decoration: underline;
	text-decoration-style: dashed;

	&:not(:empty) {
		font-weight: bold;
		button > i { margin-inline-start: 3px; }
		.locked-tooltip & {
			font-weight: normal;
			button > i { font-size: var(--font-size-12); }
		}
	}

	#tooltip & {
		font-weight: normal;
		text-decoration: none;
		button { display: none; }
	}
}
