blackFlag-damageList {
	ul.configuration-list {
		li {
			flex-wrap: wrap;

			> .damage {
				flex: 1 1 90%;
			}

			.hidden {
				display: none;
			}

			.die-count input {
				text-align: end;
			}
			.die-count, .die-denomination {
				flex: 0 0 5em;
			}
			.plus {
				align-self: center;
				padding-block-start: 0.9em;
				font-size: var(--font-size-16);
			}
			.bonus {
				flex: 0 0 8em;
			}
			.custom {
				flex: 0 0 calc(18em + 2.5px + var(--gap-size) * 4);
			}
			.controls .active {
				text-shadow: 0 0 3px oklch(85% 0.328 142.5deg);
			}
		}
	}
}
