.black-flag document-tags {
	.tags.input-element-tags {
		a:hover { text-shadow: 0 0 6px var(--bf-text-shadow-blue) }
	}
	button {
		align-self: stretch;
		border: none;
		background: none;
		&:hover, &:focus { box-shadow: none; }
		&:not(:disabled) {
			&:hover, &:focus-visible { text-shadow: 0 0 6px var(--bf-text-shadow-blue); }
		}
	}
}
