blackFlag-filters {
	display: flex;
	gap: 10px;
	justify-content: flex-end;
	font-size: var(--font-size-12);
	font-weight: normal;

	> label {
		cursor: pointer;
		&:has([value="1"], [value="-1"]) {
			font-weight: bold;
		}
	}
}
