blackFlag-inventory {
	--inventory-image-size: 25px;

	table {
		border: none;
		background: none;

		thead {
			border: none;
			background: none;
			color: var(--color-text-dark-1);
			text-shadow: none;

			tr:has(blackFlag-filters) {
				th {
					padding: 0;
					padding-inline: 4px;
					padding-block-end: 2px;
				}
			}
		}

		tbody {
			tr {
				:is(td, th) {
					position: relative;
					padding-inline: 0.25rem;

					> div.layout {
						display: flex;
						align-items: center;
						gap: 0.5rem;
					}
				}
				:is(td, th):not(:first-child):not(:last-child)::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					border-inline-end: 1px solid var(--bf-color-border-gray);
					mask-image: linear-gradient(to bottom, transparent, #000 30% 70%, transparent);
				}

				.controls {
					width: 1em;
					.layout {
						justify-content: flex-end;
					}
				} 
			}

			> tr:first-child {
				position: relative;
				border: 2px inset color-mix(in oklab, var(--bf-color-border-blue), white 40%);
				font-family: var(--bf-font-header);
				font-weight: 600;

				&::after {
					content: "";
					position: absolute;
					inset: 3px;
					border: 1px solid var(--bf-color-border-gray);
					box-shadow: 0px 0px 3px rgb(0 0 0 / 0.25);
					z-index: 0;
				}

				> * {
					z-index: 1;
				}
				.name {
					padding-inline-start: 0.5rem;
					font-variant: small-caps;
				}
			}

			> tr:not(:first-child) {
				.name {
					figure {
						margin: 0;

						img {
							width: var(--inventory-image-size);
							height: var(--inventory-image-size);
							border: none;
							background-color: black;
						}
					}
				}
				.components {
					padding-inline-end: 0.5rem;

					> .layout {
						justify-content: flex-end;
					}
				}
			}
		}
	}
}
