blackFlag-sorting {
	--sorting-indicator-size: 0.5em;
	--sorting-indicator-border-color: currentcolor;
	--sorting-indicator-border: 1px solid var(--sorting-indicator-border-color);

	display: flex;
	gap: 10px;
	justify-content: flex-start;
	font-size: var(--font-size-12);
	font-weight: normal;

	> label {
		cursor: pointer;
	}
	input[type="radio"] {
		appearance: none;
		position: relative;
		height: var(--sorting-indicator-size);
		width: var(--sorting-indicator-size);
		margin: 0;

		&::before {
			content: "";
			display: block;
			margin-block-start: calc(var(--sorting-indicator-size) * -0.5);
			width: var(--sorting-indicator-size);
			height: var(--sorting-indicator-size);
			border: var(--sorting-indicator-border);
			border-radius: var(--sorting-indicator-size);
		}
		&:checked::before { background-color: currentcolor; }
		&::after { display: none; }
	}
}
