<div>
	{{#if ability}}
	  <fieldset>
			<legend>{{ localize "BF.Proficiency.Label[one]" }}</legend>
			{{#if canSetValue}}
				{{ formField ability.fields.base value=ability.data.base localize=true
				             name=(concat "system.abilities." ability.id ".base") rootId=partId }}
			{{/if}}
			{{ formField ability.fields.save.fields.proficiency.fields.multiplier options=proficiencyOptions
			             name=(concat "system.abilities." ability.id ".save.proficiency.multiplier")
			             value=ability.data.save.proficiency.multiplier label="BF.SavingThrow.LabelLong[other]" localize=true
			             rootId=partId }}
		</fieldset>
	{{else}}
	  <!-- TODO: Global base check proficiency -->
	  <!-- TODO: Global base save proficiency -->
	{{/if}}
</div>
