<form autocomplete="off">
	<fieldset class="armor">
		<legend>{{ localize "BF.Armor.Label[other]" }}</legend>
		{{> "blackFlag.trait-list" choices=armorOptions prefix="armor" }}
	</fieldset>
	<fieldset class="weapons">
		<legend>{{ localize "BF.WEAPON.Label[other]" }}</legend>
		{{> "blackFlag.trait-list" choices=weaponOptions prefix="weapons" }}
	</fieldset>
</form>
