<div>
	{{#if skill}}
	  <fieldset>
			<legend>{{ localize "BF.Proficiency.Label[one]" }}</legend>
			{{ formField skill.fields.proficiency.fields.multiplier options=proficiencyOptions
									 name=(concat ability.keyPath ".proficiency.multiplier")
									 value=skill.data.proficiency.multiplier label="BF.CHECK.Label[other]" localize=true
									 rootId=partId }}
		</fieldset>
	{{else}}
	  <!-- TODO: Global base skill proficiency -->
	{{/if}}
</div>
