<div class="black-flag chat-card request-card">
	<ul class="menu">
		<li>
			<button type="button" class="light-button" {{ blackFlag-dataset dataset }}>
				<span class="visible-dc">{{{ buttonLabel }}}</span>
				<span class="hidden-dc">{{{ hiddenLabel }}}</span>
			</button>
		</li>
	</ul>
</div>
