<div class="black-flag chat-card request-card">
	<ul class="menu">
		{{#each buttons}}
			<li>
				<button type="button" class="light-button" data-all-users {{ blackFlag-dataset dataset }}>
					<span class="visible-dc">{{{ visibleLabel }}}</span>
					<span class="hidden-dc">{{{ hiddenLabel }}}</span>
				</button>
			</li>
		{{/each}}
	</ul>
</div>
