<label class="source">
	<span>
		{{ localize "BF.Source.Label" }}
		<i class="fa-solid fa-circle-question hintIcon" data-tooltip="BF.Item.Source.Hint"></i>
	</span>
	<input type="text" name="system.description.source.fallback" value="{{ system.description.source.fallback }}">
</label>
