<form class="dialog-content long-rest" autocomplete="off">
	<section class="main-form">
		<p>{{ content }}</p>
	</section>

	<nav class="dialog-buttons">
		<ul>
			{{#each buttons}}
				<li><button class="dialog-button" data-button="{{ @key }}">{{{ icon }}} {{{ label }}}</button></li>
			{{/each}}
		</ul>
	</nav>
</form>
