<section class="contents">
	<div class="note info">
		{{ note }}
	</div>

	{{#if fields.length}}
	<fieldset>
			<legend>{{ localize "BF.Rest.Configuration" }}</legend>
			{{> "blackFlag.field-list" fields }}
	</fieldset>
	{{/if}}
</section>
