<fieldset>
	<legend>{{ localize "BF.Roll.Configuration.LabelGeneric" }}</legend>
	<label>
		<span>{{ localize "BF.Roll.Mode.Label" }}</span>
		<select name="rollMode">
			{{ selectOptions rollModesOptions selected=rollMode localize=true }}
		</select>
	</label>
</fieldset>
