<fieldset class="formulas">
	<legend>{{ localize "BF.Roll.Formula.Label" }}</legend>
	<ul class="formulas unlist">
		{{#each rolls}}
			<li class="formula">
				<span class="formula-text">{{ formula }}</span>
			</li>
		{{/each}}
	</ul>
</fieldset>
