{{#if rollNotes.length}}
	<fieldset class="roll-notes">
		<legend>{{ localize "BF.Note.Label[other]" }}</legend>
		{{#each rollNotes}}
			<label>
				<figure class="advantage-mode" data-advantage-mode="{{this.note.rollMode}}">
					<blackFlag-icon class="die-icon" src="systems/black-flag/artwork/interface/dice/d20.svg"></blackFlag-icon>
					<figcaption>{{ localize this.advantageAbbreviation }}</figcaption>
				</figure>
				<p>{{ this.note.text }}</p>
			</label>
		{{/each}}
	</fieldset>
{{/if}}
