{{#if rollNotes.length}}
	<fieldset class="roll-notes">
		<legend>Notes</legend>
		{{#each rollNotes}}
			<label>
				<figure class="advantage-mode" data-advantage-mode="{{this.note.rollMode}}">
					<svg class="die-icon"><use xlink:href="#blackFlag-d20"></use></svg>
					<figcaption>{{localize this.advantageAbbreviation}}</figcaption>
				</figure>
				<p>{{this.note.text}}</p>
			</label>
		{{/each}}
	</fieldset>
{{/if}}
