@import "damage-rolls.css";
@import "luck-controls.css";
@import "roll-results.css";

.chat-card {
	--card-border-radius: 4px;
	--card-button-inset: 2px;

	display: flex;
	flex-direction: column;
	gap: 4px;

	.card-header {
		header {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			border: 2px solid var(--bf-color-border-gray);
			border-radius: var(--card-border-radius);
			background: var(--bf-background-color-half-white);

			img {
				margin: -2px;
				inline-size: 45px;
				block-size: 45px;
				padding: 2px;
				border: 2px solid var(--bf-color-border-blue);
				border-radius: var(--card-border-radius);
				object-fit: scale-down;
			}
			.name {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h5 {
					margin: 0;
					font-size: var(--font-size-14);
					font-weight: normal;
				}
				p {
					margin: 0;
					font-size: var(--font-size-11);
					font-weight: light;
				}
			}
			.fa-chevron-down {
				flex: 0 0 32px;
			}
		}
		&.collapsible {
			header {
				cursor: pointer;
			}
		}
		.details {
			font-size: var(--font-size-12);
		}
	}

	.menu {
		display: flex;
		gap: 0.25rem;
		flex-direction: column;
		list-style: none;
		margin-block: 2px;
		padding: 0;
		&:not(:has(> li)) {
			display: none;
		}
	}

	.tags {
		font-size: var(--font-size-10);
		display: flex;
		flex-wrap: wrap;
		gap: 4px;
		.tag {
			border: 1px solid var(--bf-color-border-gray);
			border-radius: 3px;
			padding-inline: 4px;
			background: var(--bf-background-color-half-white);
			box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
		}
		.tag:has(.component) {
			display: flex;
			gap: 2px;
		}
	}
}

.hidden-dc { display: contents; }
.visible-dc { display: none; }
[data-display-challenge] {
	.hidden-dc { display: none; }
	.visible-dc { display: contents; }
}

.card-tray {
	> label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		margin-block-start: 4px;
		cursor: pointer;
		font-size: var(--font-size-11);

		span {
			font-family: var(--bf-font-primary);
			font-weight: 600;
			text-transform: uppercase;
			text-wrap: nowrap;
		}

		&::before, &::after {
			content: "";
			flex-basis: 50%;
			border-block-start: 1px dotted var(--bf-color-border-blue);
			align-self: center;
		}
	}
}
