@import "damage-rolls.css";
@import "luck-controls.css";
@import "roll-results.css";

.chat-card {
	--card-border-radius: 4px;
	--card-button-inset: 2px;

	display: flex;
	flex-direction: column;
	gap: 4px;

	.card-header {
		header {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			border: 2px solid var(--bf-color-border-gray);
			border-radius: var(--card-border-radius);
			background: var(--bf-background-color-half-white);

			img {
				margin: -2px;
				inline-size: 45px;
				block-size: 45px;
				padding: 2px;
				border: 2px solid var(--bf-color-border-blue);
				border-radius: var(--card-border-radius);
				object-fit: scale-down;
			}
			.name {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: center;

				h5 {
					margin: 0;
					font-size: var(--font-size-14);
					font-weight: normal;
				}
				p {
					margin: 0;
					font-size: var(--font-size-11);
					font-weight: light;
				}
			}
			.fa-chevron-down {
				flex: 0 0 32px;
			}
		}
		&.collapsible {
			header {
				cursor: pointer;
			}
		}
		.details {
			font-size: var(--font-size-12);
		}
	}

	.menu {
		display: flex;
		gap: 0.25rem;
		flex-direction: column;
		list-style: none;
		margin-block: 2px;
		padding: 0;
		&:not(:has(> li)) {
			display: none;
		}
	}
}

.hidden-dc { display: contents; }
.visible-dc { display: none; }
[data-display-challenge] {
	.hidden-dc { display: none; }
	.visible-dc { display: contents; }
}

.card-tray {
	> label {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 4px;
		margin-block-start: 4px;
		cursor: pointer;
		font-size: var(--font-size-11);

		span {
			font-family: var(--bf-font-primary);
			font-weight: 600;
			text-transform: uppercase;
			text-wrap: nowrap;
		}

		&::before, &::after {
			content: "";
			flex-basis: 50%;
			border-block-start: 1px dotted var(--bf-color-border-blue);
			align-self: center;
		}
	}
}

.card-tray {
	.targets {
		margin-block: 4px;
		border: 2px solid var(--bf-color-border-gray);
		border-radius: 4px;
		background-color: var(--bf-background-color-half-white);

		.target {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 4px 6px;
			padding-block-start: 6px;
			padding: 4px;

			&:not(:first-child) {
				padding-block-start: 6px;
			}
			&:not(:last-child) {
				border-block-end: 1px dashed var(--bf-color-border-blue);
				padding-block-end: 6px;
			}

			.name-stacked {
				flex: 1;
				.subtitle {
					display: flex;
					gap: 4px;
				}
			}
		}

		> .none {
			margin-block: 4px;
			font-family: var(--bf-font-primary);
			font-size: var(--font-size-12);
			text-align: center;
		}
	}
}

.damage .dice-result {
	isolation: isolate;
	font-family: var(--bf-font-primary);

	.dice-formula, .dice-total { border-radius: 7px; }
	.dice-formula, .dice-tooltip, .dice-total {
		background: var(--bf-background-color-half-white);
	}
	.dice-formula {
		margin-block-end: 0;
		border-end-start-radius: 0;
		border-end-end-radius: 0;
		font-weight: 400;
	}
	.dice-total {
		margin-block-start: -1px;
		border-start-start-radius: 0;
		border-start-end-radius: 0;
		font-size: var(--font-size-20);
		font-weight: 650;
		line-height: 1.5em;
	}
	.dice-tooltip {
		position: relative;
		margin-inline: 4px;
		border-inline: 1px solid var(--bf-color-border-gray);
		padding-inline: 4px;
		box-shadow: 0 0 4px rgb(0 0 0 / 15%);
		z-index: -1;

		&::before {
			content: "";
			position: absolute;
			inset-block-start: -6px;
			inset-inline: -3px;
			height: 6px;
			border-radius: 4px;
			box-shadow: 0 0 0 rgb(0 0 0 / .2);
			transition: box-shadow 250ms;
		}
		&.expanded::before {
			box-shadow: 0 3px 3px rgb(0 0 0 / .2);
		}

		> :first-child {
			padding-block-start: 2px;
		}
	}
}
