.dice-roll.critical-success .dice-total {
	color: var(--bf-dice-color-critical-success);
}
.dice-roll.critical-failure .dice-total {
	color: var(--bf-dice-color-critical-failure);
}
.dice-roll.success .dice-total {
	background: var(--bf-dice-color-success-background);
	border-color: var(--bf-dice-color-success);
}
.dice-roll.failure .dice-total {
	background: var(--bf-dice-color-failure-background);
	border-color: var(--bf-dice-color-failure);
}
