.black-flag.item.sheet:not(.concept) form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.sheet-header {
		.icon {
			flex: 0 0 64px;
			margin: 0;

			> img {
				width: 64px;
				height: 64px;
			}
		}
		> h1 {
			flex-grow: 1;
		}
	}

	.sheet-body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		[data-tab] {
			height: 100%;

			> section {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				&:first-child:last-child {
					height: 100%;
				}
			}
		}

		[data-tab="description"] {
			> section {
				gap: 0;
			}

			.category {
				display: flex;
				gap: 0.5rem;
				margin-inline: -0.5rem;
				margin-block-end: 0.25rem;
				border-block: 1px groove var(--bf-color-border-blue);
				padding-block: 4px;
				padding-inline: 0.5rem;

				> label {
					flex: 1 1 20em;
					max-width: calc(50% - 4px);
					display: flex;
					flex-wrap: wrap;
					font-size: var(--font-size-12);
					font-variant: small-caps;
					font-weight: 100;

					> span:first-of-type {
						flex: 1 0 100%;
					}
					> input, select {
						width: 100%;
					}
				}
			}

			.description-area {
				flex-grow: 1;
				display: flex;
				gap: 1rem;
				align-items: flex-start;

				.sidebar {
					width: 12em;
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					margin-block: 0.25rem;
					padding: 0.5rem;
					border-radius: 10px;
					background-color: rgba(255 255 255 / 0.25);
					box-shadow: 1px 1px 4px rgba(0 0 0 / 0.2);
					font-size: var(--font-size-12);

					label {
						display: flex;
						gap: 0.5rem;
						align-items: first baseline;

						input, select {
							height: 1.75em;
							border: 0.5px solid var(--bf-color-border-blue);
						}
					}
				}

				.editor {
					flex-grow: 1;
					align-self: stretch;

					&:not(.prosemirror) {
						margin-inline: 0.5rem;
					}
					&.prosemirror {
						height: 100%;
						max-width: unset;
						margin-inline: -0.5rem;
					}
				}
			}

			.source {
				display: flex;
				gap: 0.5rem;
				align-items: first baseline;
				margin-inline-end: 1rem;

				> span {
					font-size: var(--font-size-12);
					font-variant: small-caps;
					font-weight: 700;
				}
				> input {
					flex-grow: 1;
					width: unset;
					height: unset;
					padding-inline: 0.35em;
					font-size: var(--font-size-12);
					font-variant: small-caps;
				}
			}
		}
	}

	[data-tab="details"] {
		fieldset:not(.checkbox-list) {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
	
			> :is(label, .field-group) {
				> input {
					flex-grow: 1;
					width: unset;
				}
			}
		}
	}
}
