.black-flag.condition.sheet form {
	.description-area {
		height: 150px;
	}

	.levels {
		margin-block-start: 0.5rem;

		.levels-list {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;

			.level > fieldset {
				> legend {
					input {
						width: 2em;
						text-align: center;
						line-height: unset;
						height: unset;
					}
					[data-sub-action="delete"] {
						margin-inline-start: 0.5rem;
					}
				}
			}
		}
	}

	[data-action="level"][data-sub-action="add"] {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-block: 0.5rem;
		margin-block-start: 0.5rem;
	}
}
