.black-flag.sheet.item blackFlag-effects {
	flex-grow: 1;
	padding: 4px;

	header {
		display: flex;
		align-items: first baseline;
		justify-content: space-between;

		> h2 {
			border: none;
		}
	}

	> ol { margin: 0; }

	.header {
		padding-inline: 12px;
	}
	.controls {
		display: flex;
		gap: 0.5rem;
		padding-inline: 0.5rem;
	}

	.effect-name {
		flex: 1 1 40%;
	}
	.effect-duration {
		flex: 1 1 20%;
	}
	.effect-controls {
		flex: 1 1 20%;
		display: flex;
		justify-content: flex-end;
	}
}
