.black-flag.feature.sheet form {
	.sheet-body {
		[data-tab="description"] {
			.prerequisite {
				display: flex;
				justify-content: space-between;
				padding-block-start: 0.25rem;
				padding-inline: 0.5rem;
				font-style: italic;
			}
		}
	}
}
