.prerequisite.config form {
	.ability-restrictions {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		label {
			gap: 0;
			flex-direction: column;
			align-items: center;

			input {
				text-align: center;
				width: 100%;
			}
		}
	}
	label {
		span:first-child {
			flex: 0 1 min(12em, 33%);
		}
	}
}
