.prerequisite.config form {
	.ability-restrictions {
		display: flex;
		gap: 0.5rem;

		label {
			gap: 0;

			span {
				flex-grow: 1;
				display: block;
				text-align: center;
			}
			input {
				text-align: center;
			}
		}
	}
}
