.prerequisite.application {
	[data-application-part="abilities"] {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;

		label {
			gap: 0;
			flex-direction: column;
			align-items: center;

			> span { flex: 0 0; }
			input {
				text-align: center;
				width: 100%;
			}
		}
	}
	multi-select {
		.tags {
			order: 2;
		}
	}
}
