<section>
	<fieldset class="compact-editor">
		<legend>{{localize "BF.Activity.Core.Description.Label"}}</legend>
		{{editor enriched target="description" button=true engine="prosemirror" collaborate=false}}
	</fieldset>
</section>
