<form autocomplete="off">
	<header class="sheet-header">
		<figure class="icon">
			<img src="{{activity.img}}" data-edit="img">
		</figure>
		<h1>
			<input type="text" name="name" value="{{source.name}}" placeholder="{{default.title}}">
		</h1>
	</header>
</form>
