<section class="tab {{ tab.cssClass }}" data-tab="{{ tab.id }}" data-group="{{ tab.group }}">
	<img class="hero" src="systems/black-flag/artwork/branding/package-page-2x.jpg">
	<div class="message">{{{ message }}}</div>
</section>
