.activity-activation {
	form {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	.scaling-fields {
		.separator, .max {
			flex: 0;
			padding-inline: 3px;
			font-weight: bold;
		}
		.separator {
			color: var(--bf-text-color-blue);
			opacity: .6;
		}
	}
}
