.activity-choice {
	menu {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
	button {
		--icon-size: 20px;
		display: flex;
		align-items: center;
		gap: 8px;

		.icon {
			align-self: center;
		}
	}
}
