.activity-config form {
	header {
		display: flex;
		gap: 1rem;
		align-items: center;

		figure {
			margin: 0;
			
			img {
				width: 64px;
				height: 64px;
			}
		}

		h1 {
			flex-grow: 1;
			margin: 0;
			border: none;
			line-height: 48px;

			input {
				height: 100%;
			}
		}
	}
}
