.activity.sheet.application {
	prose-mirror {
		max-width: unset;
		min-height: 300px;
		margin-inline: -10px;
		.editor-content { margin-inline: 10px; }
		> button.toggle {
			align-self: flex-end;
			margin-inline-end: 10px;
		}
	}

	.additional-tray {
		/* margin-block-start: 4px; */
		transition: all 250ms ease;

		.wrapper {
			padding-inline: 6px;
			> :first-child { margin-block-start: 8px; }
			> :last-child { margin-block-end: 3px; }
		}

		> label {
			cursor: pointer;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			gap: .25rem;
			font-size: var(--font-size-10);

			> span { flex: none; }
			.fa-gears { color: var(--color-text-light-6); }

			&::before, &::after {
				content: "";
				flex-basis: 50%;
				border-top: 1px dotted var(--bf-color-border-blue);
				align-self: center;
			}
		}
	}

	.profiles-list {
		> li { flex-wrap: wrap; }
		.details { align-items: stretch; }
		.content-link {
			display: block;
			align-content: center;
			overflow: hidden;
			text-overflow: ellipsis;
			font-size: var(--font-size-11);
			line-height: normal;
		}
		.name { flex: 1 0 175px; }
		.split-group.full-width {
			padding: 0;
			box-shadow: none;

			> .form-fields {
				align-items: end;
				> .separator, > .link-button {
					block-size: var(--input-height);
					display: grid;
					place-content: center;
					padding: 0 1px;
					margin: 3px 0;
				}
			}
		}
	}
}
.activity-config form {
	[data-tab="description"] {
		.editor {
			min-height: 150px;
			overflow-y: visible;
			height: 100%;
		}

		fieldset { height: 100%; }
	}

	.vs {
		padding-block-start: 1em;
		align-self: center;
	}
}

/* <><><><> <><><><> <><><><> <><><><> */
/*            Cast Activity            */
/* <><><><> <><><><> <><><><> <><><><> */

.cast-activity.sheet {
	.spell-link {
		.item-entry {
			.name {
				display: flex;
				gap: 8px;
				align-items: center;
				.icon {
					width: 32px;
					height: 32px;
				}
			}
			.controls { flex: 0; }
		}
	}
}

/* <><><><> <><><><> <><><><> <><><><> */
/*           Summon Activity           */
/* <><><><> <><><><> <><><><> <><><><> */

.summon-activity.sheet {
	.profiles-list {
		.context-link, .drop-area, .name {
			display: flex;
			align-items: center;
			align-content: center;
		}
		.drop-area {
			flex: 1;
			font-size: var(--font-size-11);
			justify-content: center;
		}
		.content-link {
			block-size: var(--input-height);
			margin-block: 3px;
			border: 1.5px dashed var(--bf-color-border-blue);
			border-radius: 10px;
			text-align: center;
		}
	}
}
