.activity.sheet.application {
	prose-mirror {
		max-width: unset;
		min-height: 300px;
		margin-inline: -10px;
		.editor-content { margin-inline: 10px; }
		button.toggle { right: 12px; }
	}
}
.activity-config form {


	[data-tab="description"] {
		.editor {
			min-height: 150px;
			overflow-y: visible;
			height: 100%;
		}

		fieldset { height: 100%; }
	}

	.vs {
		padding-block-start: 1em;
		align-self: center;
	}
}
