<form autocomplete="off"{{#if system.color}} style="--bf-item-color: {{system.color}};"{{/if}}>

	<section class="summary">
		{{> "blackFlag.concept-summary" edit=editable}}
	</section>

	{{> "blackFlag.item-advancement"}}

</form>
