@import "fonts.css";
@import "variables.css";
@import "base.css";

@import "application.css";
@import "contextmenu.css";
@import "dialog.css";
@import "dice.css";
@import "editor.css";
@import "forms.css";
@import "hud.css";
@import "icons.css";
@import "lists.css";
@import "notifications.css";
@import "selection.css";
@import "tabs.css";

@import "activity/_module.css";
@import "actor/_module.css";
@import "advancement/_module.css";
@import "chat/_module.css";
@import "components/_module.css";
@import "dice/_module.css";
@import "item/_module.css";
@import "journal/_module.css";

.settings-sidebar {
	.black-flag.sidebar-heading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-block: 6px;
		margin-inline: 0;
		padding-inline: 8px;
		border-top: 1px solid var(--color-border-dark-4);
		border-bottom: 1px solid var(--color-border-dark-4);
		background: rgb(255 255 255 / 10%);

		h2 {
			margin: 0;
			padding: 0;
			border: none;
			background: none;
		}

		.links {
			display: flex;
			list-style: none;
			gap: 6px;
			font-family: var(--bf-font-header);
			font-size: var(--font-size-11);
			text-transform: uppercase;
		}
	}
	.black-flag.sidebar-badge {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;
		margin: 0;

		img {
			block-size: 70px;
			inline-size: 100%;
			border: none;
			padding-block: 3px;
			object-fit: contain;
			background-color: var(--bf-blue);
		}
	}
}
