/* <><><><> <><><><> <><><><> <><><><> */
/*           Application V2            */
/* <><><><> <><><><> <><><><> <><><><> */

.black-flag.application {
	--color-fieldset-border: var(--bf-blue);
	--color-scrollbar: var(--bf-blue);
	--color-shadow-primary: var(--bf-button-shadow-blue);
	max-height: 85vh;
	margin: 0;
	padding: 0;

	button {
		--button-hover-background-color: var(--bf-blue);
		--button-hover-border-color: var(--bf-color-border-black);
	}
	input, select {
		--input-focus-outline-color: var(--bf-button-shadow-blue);
	}
	input[type="checkbox"] {
		--checkbox-checked-color: var(--bf-blue);
		--checkbox-checkmark-color: var(--bf-color-fill);
	}
	textarea:focus {
		box-shadow: 0 0 6px var(--bf-button-shadow-blue);
	}

	.window-content {
		overflow-y: auto;
		> section:empty { display: none; }
	}
	&.form-list .window-content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&.standard-form {
		gap: 0;

		.hint { font-size: var(--font-size-12); }
	}
}

.theme-dark .black-flag.application {
	--bf-background-color-white: rgb(0 0 0);
	--bf-background-color-half-white: rgb(0 0 0 / 0.5);
	--bf-color-border-blue: color-mix(in oklab, var(--bf-blue), #89d3ff 25%);
	--bf-text-color-blue: color-mix(in oklab, var(--bf-blue), #89d3ff 25%);

	.hint {
		color: var(--color-text-light-secondary);
	}
	textarea {
		background: var(--color-cool-4);
	}
}
