/* <><><><> <><><><> <><><><> <><><><> */
/*           Application V2            */
/* <><><><> <><><><> <><><><> <><><><> */

.black-flag.application {
	--color-shadow-primary: var(--bf-button-shadow-blue);

	input, select {
		--input-focus-outline-color: var(--bf-button-shadow-blue);
	}

	&.form-list .window-content {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}
}
