:is(html, .application) :is(.link-button, .unbutton, .heavy-button, .light-button) {
	transition: none;

	&[disabled] { cursor: default; }
	&:hover, &:focus, &:focus-visible {
		box-shadow: unset;
		outline: none;
		transition: none;
	}
}

.link-button, .application .link-button {
	width: unset;
	margin: 0;
	padding: 0;
	display: inline;
	border: none;
	background: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;

	&:not([disabled]) {
		&:hover, &:focus-visible {
			background: none;
			box-shadow: unset;
			color: inherit;
			text-shadow: 0 0 6px var(--bf-text-shadow-blue);
		}
	}
}

.unbutton, .application .unbutton {
	border: none;
	background: none;

	&:not([disabled]) {
		&:hover, &:focus, &:focus-visible {
			box-shadow: 0 0 7px var(--bf-button-shadow-blue);
		}
	}
}

.heavy-button, .light-button,
.dialog .dialog-buttons button:is(.heavy-button, .light-button),
.application button:is(.heavy-button, .light-button) {
	position: relative;
	border: 1px solid var(--bf-color-border-blue);
	border-radius: var(--bf-button-border-radius);
	padding-block: 1px;
	padding-inline: 8px;
	font-family: var(--bf-font-primary);
	font-size: var(--font-size-14);
	font-weight: 550;
	color: var(--text-color);
	--icon-fill: var(--text-color);

	&::after {
		content: "";
		position: absolute;
		inset: var(--bf-button-inset);
		border: 1px solid var(--bf-color-border-gray);
		border-radius: calc(var(--bf-button-border-radius) - var(--bf-button-inset));
	}

	&:not([disabled]) {
		&:hover, &:focus-visible {
			box-shadow: 0 0 7px var(--bf-button-shadow-blue);
		}
	}
}

.heavy-button, .dialog .dialog-buttons button.heavy-button, .application button.heavy-button {
	background: var(--bf-button-background-color-regular);
	--text-color: var(--bf-button-text-color-regular);

	&:disabled {
		--text-color: color-mix(in oklab, var(--bf-button-text-color-regular), transparent 40%);
	}
	&:not([disabled]) {
		&:hover, &:focus-visible {
			background: var(--bf-button-background-color-focus);
			--text-color: var(--bf-button-text-color-focus);
		}
	}
}

.light-button, .dialog .dialog-buttons button.light-button, .application button.light-button {
	background: var(--bf-button-background-color-focus);
	--text-color: var(--bf-button-text-color-focus);

	&:disabled {
		--text-color: color-mix(in oklab, var(--bf-button-text-color-focus), transparent 40%);
	}
	&:not([disabled]) {
		&:hover, &:focus-visible {
			background: var(--bf-button-background-color-regular);
			--text-color: var(--bf-button-text-color-regular);
		}
	}
}

.mini-button {
	all: unset;
	border: .5px solid var(--bf-color-border-blue);
	border-radius: 4px;
	padding-inline-start: 2px;
	padding-block: 1px;
	background: var(--bf-color-fill);
	box-shadow: 0 0 1px var(--color-shadow-dark);
	color: var(--bf-blue);
	font-size: var(--font-size-12);
	cursor: pointer;
	&:hover, &:focus { box-shadow: none; }
	&:hover, &:focus-visible { text-shadow: 0 0 8px var(--bf-text-shadow-blue); }
}

.collapsible {
	&.collapsed {
		.fa-caret-down, .fa-chevron-down { transform: rotate(-90deg); }
		.collapsible-content { grid-template-rows: 0fr; }
	}
	.fa-caret-down, .fa-chevron-down { transition: transform var(--bf-tray-transition) ease; }
	.collapsible-content {
		display: grid;
		grid-template-rows: 1fr;
		transition: grid-template-rows var(--bf-tray-transition) ease;
		> .wrapper { overflow: hidden; }
	}
	.dropdown-block {
		position: relative;
		margin-block-end: 8px;
		margin-inline: 6px;
		border: 1px solid var(--bf-color-border-blue);
		border-block-start-width: 0;
		border-end-start-radius: 8px;
		border-end-end-radius: 8px;
		padding-block: 2px;
		padding-inline: 8px;
		background: var(--bf-background-color-half-white);
		box-shadow: 0 2px 3px rgb(0 0 0 / .2);

		&::before {
			content: "";
			position: absolute;
			inset-inline: -6px;
			inset-block-start: -10px;
			height: 10px;
			box-shadow: 0 3px 3px rgb(0 0 0 / .2);
		}

		h6 {
			margin: 0;
			font-size: var(--font-size-12);
		}
	}
}

.unfieldset {
	display: contents;
}

.uninput:is([type="text"], [type="number"], select) {
	height: unset;
	width: unset;
	min-width: 3em;
	background: none;
	border: 1px solid transparent;

	&:hover, &:focus { box-shadow: 0 0 4px var(--bf-color-border-light-blue); }
	&:focus { border-color: var(--bf-blue); }
}

.unlink {
	&:hover, &:focus { text-shadow: none; }
	&:hover, &:focus-visible {
		.roll-link { text-shadow: 0 0 4px var(--bf-color-border-light-blue); }
	}
}
.roll-link, .roll-link-group a {
	text-decoration: underline;
	&:hover, &:focus-visible { text-shadow: 0 0 4px var(--bf-color-border-light-blue); }
}
.roll-link-group {
	.extra-link {
		padding-inline-start: 10px;
		text-decoration: none;
		opacity: 60%;
		&:hover, &:focus-visible { opacity: 100%; }
		&::before {
			content: "\f105";
			font-family: var(--font-awesome);
			font-weight: bold;
			margin: 0 4px 0 -6px;
			font-size: var(--font-size-10);
			opacity: 60%;
		}
	}
}

.unlist, .application .unlist {
	margin: 0;
	padding: 0;
	list-style: none;
}

img.icon, figure.icon img {
	object-fit: cover;
	object-position: top center;
}

img.icon, figure.icon {
	margin: 0;

	&.circular {
		border-radius: 100%;
		aspect-ratio: 1;
	}
}

.untable {
	&, thead, tbody, tr, tr:nth-child(2n), th, td { all: revert; }
	th {
		font-weight: normal;
		text-align: start;
	}
}

.fieldset-table, .application .fieldset-table {
	inline-size: unset;
	margin-block: 0;
	margin-inline: -0.5rem;
	border: none;
	border-radius: 0;
	background: none;

	thead {
		all: revert;
		background: var(--bf-text-color-blue);
		color: var(--bf-text-color-white);
		th {
			padding-block: 3px;
			padding-inline: 6px;
			font-size: var(--font-size-14);
			text-align: start;
			text-transform: uppercase;
		}
	}
	td, th {
		padding-inline: 6px;
	}
}

hr, .application hr {
	width: 100%;
	margin: 0;
	border: none;
	border-block-end: 2px dotted var(--bf-color-border-blue);
	background: none;
}

.name-stacked {
	display: flex;
	flex-direction: column;
	gap: 2px;
	.title {
		font-size: var(--font-size-14);
	}
	.subtitle {
		font-size: var(--font-size-11);
	}
}

.black-flag .tags {
	font-size: var(--font-size-10);
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	.tag {
		border: 1px solid var(--bf-color-border-gray);
		border-radius: 3px;
		padding-inline: 4px;
		background: var(--bf-background-color-half-white);
		box-shadow: 0 1px 1px rgb(0 0 0 / 15%);
	}
	.tag:has(.component) {
		display: flex;
		gap: 2px;
	}
}
