#context-menu {
	[data-group-id]:has(ol li):not(:first-child) {
		position: relative;
		margin-block-start: 0.5rem;
		&::before {
			content: "";
			inset-inline: 8px;
			inset-block-start: -0.25rem;
			position: absolute;
			border-block-start: 1px solid white;
		}
	}
	[data-group-id="destructive"] i, i.destructive {
		color: var(--bf-context-option-color-destructive);
	}
}
#context-menu.black-flag {
	position: fixed;
	z-index: var(--z-index-tooltip);
	inline-size: max-content;
	min-inline-size: 145px;
}
