.die-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 1.25em;
	height: 1.25em;

	--die-blue-color: var(--bf-blue);
	--die-green-color: color-mix(in oklab, var(--bf-dice-color-critical-success), black 20%);
	--die-red-color: color-mix(in oklab, var(--bf-dice-color-critical-failure), black 20%);

	--die-fill: lch(0%, 0%, 0deg);
	&.blue { --die-fill: var(--die-blue-color); }
	&.green { --die-fill: var(--die-green-color); }
	&.red { --die-fill: var(--die-red-color); }
	&.white { --die-fill: lch(100%, 0%, 0deg); }
}

#blackFlag-d4, #blackFlag-d6, #blackFlag-d8, #blackFlag-d10, #blackFlag-d12, #blackFlag-d20 {
	path {
		fill: var(--die-fill, lch(0%, 0%, 0deg));
	}
}
