.die-icon {
	display: inline-block;
	margin: 0;
	padding: 0;
	--icon-size: 1.25em;
	block-size: var(--icon-size);
	inline-size: var(--icon-size);

	--die-blue-color: var(--bf-blue);
	--die-green-color: color-mix(in oklab, var(--bf-dice-color-critical-success), black 20%);
	--die-red-color: color-mix(in oklab, var(--bf-dice-color-critical-failure), black 20%);

	--icon-fill: lch(0%, 0%, 0deg);
	&.blue { --icon-fill: var(--die-blue-color); }
	&.green { --icon-fill: var(--die-green-color); }
	&.red { --icon-fill: var(--die-red-color); }
	&.white { --icon-fill: lch(100%, 0%, 0deg); }
}
