@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-stretch: 100%;
	src: url('fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 400;
	font-stretch: 100%;
	src: url('fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('woff');
}

@font-face {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('woff');
}

:root {
	--bf-font-primary: "Open Sans", sans-serif;
	--bf-font-header: "Oswald", sans-serif;
}
