@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-stretch: 75% 100%;
	font-weight: 300 800;
	src: url("fonts/Open_Sans/Open_Sans_i.woff2") format("woff2");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-stretch: 75% 100%;
	font-weight: 300 800;
	src: url("fonts/Open_Sans/Open_Sans.woff2") format("woff2");
}

@font-face {
	font-family: "Oswald";
	font-style: normal;
	font-weight: 200 700;
	src: url("fonts/Oswald/Oswald.woff2") format("woff2");
}

:root {
	--bf-font-primary: "Open Sans", sans-serif;
	--bf-font-header: "Oswald", sans-serif;
}
