fieldset {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border: 2px solid var(--bf-color-border-blue);

	legend {
		font-family: var(--bf-font-header);
		font-weight: bold;
		text-transform: uppercase;
	}

	label {
		display: flex;
		flex-wrap: wrap;
		align-items: first baseline;
		gap: 0.5rem;

		> span:first-child {
			font-weight: bold;
			font-variant: small-caps;
		}

		&.full-checkbox {
			align-items: center;
			height: inherit;
			line-height: inherit;
			font-size: inherit;

			> span:first-child {
				margin-inline-end: auto;
			}
			input[type="checkbox"] {
				flex-grow: unset !important;
				justify-self: flex-end;
			}
		}
	}

	> label {
		> span:first-child {
			flex: 0 0 var(--bf-form-label-width);
		}
		input, select, blackflag-multiselect {
			flex: 1 0 20px;
			width: unset;
		}
	}
}

.checkbox-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.25rem;

	label {
		flex: 0 0 max(var(--bf-form-label-width), calc(20% - 0.25rem));
		flex-wrap: nowrap;
		align-items: center;
		gap: 0rem;
		font-size: var(--font-size-12);
	}
	input[type="checkbox"] {
		width: 1rem;
		height: 1rem;
	}
}

.field-group {
	display: flex;
	gap: 0.5rem;
	align-items: stretch;

	> span:first-child {
		width: var(--bf-form-label-width);
		font-variant: small-caps;
		font-weight: bold;
		align-self: center;
	}
	> label {
		flex: 1 1;
		flex-direction: column;
		align-items: stretch;
		gap: 2px;

		> span:first-child {
			font-size: var(--font-size-11);
			font-variant: small-caps;
			text-transform: none;
		}
	}
	.checkbox-list {
		flex-grow: 1;
	}
}

.drop-area {
	.hint {
		border-radius: 10px;
		padding: 0.5rem;
		background: rgba(0 0 0 / 0.1);
		text-align: center;
	}
	ol + .hint {
		margin-block-start: 0.5rem;
	}
	&.valid {
		border-color: var(--bf-color-border-drop-valid);
	}
	&.invalid {
		border-color: var(--bf-color-border-drop-invalid);
	}
}

.hintIcon {
	display: var(--fa-display,inline-block);
	color: var(--bf-color-border-blue);
	font-family: "Font Awesome 6 Pro";
	font-size: var(--font-size-11);
	font-style: normal;
	font-variant: super;
	font-weight: 900;
	line-height: 1;
	cursor: help;

	&::before {
		content: "\f059";
	}
}

.black-flag multi-select {
	select {
		flex: calc(var(--form-field-height) + 1px);
	}
	.tags {
		flex-wrap: wrap;

		.tag {
			border: 1px solid var(--bf-color-border-blue);
			border-radius: 3px;
			padding-block: 1px;
			padding-inline: 4px;
			font-size: var(--font-size-11);
			box-shadow: 0 0 4px rgb(0 0 0 / 15%);
			cursor: pointer;
		}
	}
}
