fieldset {
	border: 2px solid var(--bf-color-border-blue);

	& legend {
		font-weight: bold;
		text-transform: uppercase;
	}
}

label .hint {
	color: var(--bf-color-border-blue);
	font-size: var(--font-size-11);
	font-variant: super;
	cursor: help;
}
