.black-flag.class.sheet {
	.sheet-header {
		:is(h1) {
			flex-grow: 1;
		}

		.color {
			flex: 0 0 2em;
			display: flex;
			flex-direction: column;
			
			:is(span) {
				text-align: center;
				font-size: var(--font-size-12);
				font-weight: bold;
			}
		}
	}

	.sheet-body {
		.description {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			padding: 0;
			padding-block-end: 0.5rem;

			.editor {
				max-height: 12rem;
				margin-block-start: -0.5rem;

				.editor-menu {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
				.editor-container {
					min-height: 6em;
					margin: 0;
					background-color: rgba(255, 255, 255, 0.5);

					.editor-content {
						padding: 0.5rem 1rem;
					}
				}
			}

			:is(legend) {
				margin-inline: 0.5rem;
			}

			:is(label) {
				display: flex;
				gap: 0.5rem;
				align-items: first baseline;
				padding-inline: 0.5rem;

				:is(span) {
					flex: 0 0 25%;
					font-size: var(--font-size-12);
					font-weight: bold;
				}

				:is(input) {
					flex-grow: 1;
					width: unset;
				}
			}
		}
	}
}
