.black-flag .items-list {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin: 1rem;
	margin-block-start: 0.5rem;
	padding: 0;
	list-style: none;

	.item-category {
		.header {
			display: flex;
			align-items: first baseline;
			gap: 0.5rem;

			border: 2px groove white;
			border-start-start-radius: 1em;
			border-start-end-radius: 1em;
			padding-inline: 1rem;
			padding-block: 0.25rem;
			background: var(--bf-item-gradiant);
			box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.35);
			color: white;
			font-size: var(--font-size-14);

			h3 {
				border: none;
				margin: 0;
				padding: 0;
			}

			.item-details {
				font-family: var(--bf-font-header);
				font-size: var(--font-size-12);
			}
		}
	}

	.item-list {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		margin-block: 0.5rem;
		margin-inline: 1rem;
		padding: 0;
	}

	.item {
		display: flex;
		flex-wrap: wrap;
		align-items: first baseline;
		justify-content: space-between;
		gap: 0.5rem;
		padding-inline: 0;

		&:not(:last-of-type) {
			border-block-end: 1px solid var(--bf-color-border-gray);
			padding-block-end: 0.25rem;
		}
	}

	.item-name {
		width: 14rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;

		.icon {
			margin: 0;
	
			img {
				border: none;
				width: 30px;
				height: 30px;
			}
		}
	
		h4 {
			margin: 0;
		}
	}

	.item-details {
		flex-grow: 1;
		display: flex;
		font-size: var(--font-size-12);

		> div {
			width: 4rem;
			padding-inline: 0.5rem;
		}
	}

	.item-controls {
		display: flex;
		gap: 0.75rem;
	}
}
