.black-flag .items-list {
	--image-size: 30px;
	--gap-size: 0.5rem;
	--name-font-size: var(--font-size-14);
	--details-font-size: var(--font-size-12);
}
.black-flag .items-list.large {
	--image-size: 50px;
	--gap-size: 1rem;
	--name-font-size: var(--font-size-16);
	--details-font-size: var(--font-size-14);
}

.black-flag .items-list {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap-size) / 2);
	margin: 1rem;
	margin-block-start: 0.5rem;
	padding: 0;
	list-style: none;

	.item-category {
		.header {
			display: flex;
			align-items: first baseline;
			gap: var(--gap-size);

			border: 2px groove white;
			border-start-start-radius: 1em;
			border-start-end-radius: 1em;
			padding-inline: 1rem;
			padding-block: 0.25rem;
			background: var(--bf-item-gradiant);
			box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.35);
			color: white;
			font-size: var(--name-font-size);

			h3 {
				border: none;
				margin: 0;
				padding: 0;
			}

			.item-details {
				font-family: var(--bf-font-header);
				font-size: var(--details-font-size);
			}
		}
	}

	.item-list {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		margin-block: 0.5rem;
		margin-inline: 1rem;
		padding: 0;
	}
}

.black-flag :is(.items-list, .item-list) {
	.item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap-size);
		padding-inline: 0;

		&:not(:last-of-type) {
			border-block-end: 1px solid var(--bf-color-border-gray);
			padding-block-end: 0.25rem;
		}

		&.add-control {
			justify-content: center;
		}
	}

	.item-name {
		inline-size: 14rem;
		display: flex;
		align-items: center;
		gap: var(--gap-size);
		font-size: var(--name-font-size);

		.icon {
			margin: 0;

			img {
				border: none;
				block-size: var(--image-size);
				inline-size: var(--image-size);
			}

			&.spacer {
				block-size: var(--image-size);
				inline-size: var(--image-size);
			}
		}

		h4 {
			margin: 0;
		}
	}

	.item-details {
		flex-grow: 1;
		display: flex;
		font-size: var(--details-font-size);

		> div {
			inline-size: 4rem;
			padding-inline: 0.5rem;
		}
	}

	.item-controls {
		align-self: center;
		display: flex;
		gap: 0.75rem;
	}
}

/* <><><><> <><><><> <><><><> <><><><> <><><><> <><><><> */
/*                  Configuration Lists                  */
/* <><><><> <><><><> <><><><> <><><><> <><><><> <><><><> */

ul.configuration-list {
	--gap-size: 6px;

	margin: 0;
	padding: 0;
	list-style: none;

	&:not(:last-child) {
		border-block-end: 2px dotted var(--bf-color-border-blue);
		padding-block-end: 8px;
	}

	> li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--gap-size);
		padding-inline: 0;

		&:not(:first-of-type) {
			padding-block-start: 8px;
		}
		&:not(:last-of-type) {
			border-block-end: 2px dotted var(--bf-color-border-blue);
			padding-block-end: 8px;
		}

		.field-group {
			flex: 1 1 100%;
			gap: var(--gap-size);
		}

		.controls {
			align-self: center;
			display: flex;
			gap: var(--gap-size);
			padding-block-start: 1em;
		}
	}
	.add-control {
		justify-content: center;
		padding-block-start: 0.75em;
	}
}

/* <><><><> <><><><> <><><><> <><><><> <><><><> <><><><> */
/*                      Trait Lists                      */
/* <><><><> <><><><> <><><><> <><><><> <><><><> <><><><> */

:is(.advancement-config.app .trait-list, .trait-list) {
	list-style: none;
	margin: 0;
	margin-block-start: 0.5rem;
	padding: 0;

	label {
		align-items: center;

		&.wildcard {
			font-style: italic;
			font-weight: bold;
		}
		> input[type="checkbox"] {
			flex-grow: unset;
		}
	}

	& .trait-list {
		margin-block-start: 0;
		margin-inline-start: 1rem;
	}
}
