nav.tabs.tabs-separate {
	--tab-gap: 6px;
	--tab-background-active: transparent;
	--tab-background-hover: color-mix(in oklab, var(--bf-blue), transparent 80%);
	--tab-border-radius: 8px;

	margin-block-start: 6px;
	margin-inline: -1rem;
	padding-inline: 2rem;
	justify-content: flex-start;
	gap: var(--tab-gap);

	a {
		position: relative;
		flex: 1 0 5em;
		max-width: 17em;
		display: block;
		border: 1px solid transparent;
		border-block-end-color: var(--bf-color-border-blue);
		border-start-start-radius: var(--tab-border-radius);
		border-start-end-radius: var(--tab-border-radius);
		padding-block: 4px 2px;
		font-family: var(--bf-font-primary);
		font-size: var(--font-size-12);
		text-align: center;
	}
	a.active {
		background: var(--tab-background-active);
		border-color: var(--bf-color-border-blue);
		border-block-end-color: transparent;
	}
	a:hover, a:focus-visible {
		background: var(--tab-background-hover);
		text-shadow: none;
	}
	a::after, a::before {
		position: absolute;
		inset-block: -1px;
		border-block-end: 1px solid var(--bf-color-border-blue);
	}
	a::after {
		content: "";
		inset-inline-start: 100%;
		inset-inline-end: calc(-1 * var(--tab-gap) - 2px);
	}
	a:first-of-type::before {
		content: "";
		inset-inline-start: -1000px;
		inset-inline-end: 100%;
	}
	a:last-of-type::after {
		inset-inline-end: -1000px;
	}
}
