:root {
	--bf-blue: rgb(45 82 129);
	--bf-blue: oklch(43.45% 0.089 255.25);
	--bf-dark-blue: rgb(43 67 102);
	--bf-dark-blue: oklch(38% 0.067 257.75);

	--bf-background-color-gray: rgb(240 240 240);
	--bf-background-color-gray: oklch(95.5% 0 0);
	--bf-background-color-white: rgb(255 255 255);
	--bf-background-color-half-white: rgb(255 255 255 / 0.5);

	--bf-button-border-radius: 4px;
	--bf-button-background-color-regular: var(--bf-blue);
	--bf-button-background-color-focus: var(--bf-color-fill);
	--bf-button-inset: 1px;
	--bf-button-text-color-regular: white;
	--bf-button-text-color-focus: black;
	--bf-button-shadow-blue: color-mix(in oklab, var(--bf-blue), cyan 50%);

	--bf-color-application-damage: rgb(156 91 71);
	--bf-color-application-healing: rgb(60 127 88);
	--bf-color-application-temp: rgb(0 127 127);
	--bf-color-border-black: rgb(0 0 0);
	--bf-color-border-blue: var(--bf-blue);
	--bf-color-border-drop-invalid: lch(60% 100% 50deg);
	--bf-color-border-drop-unknown: lch(100% 00% 0deg);
	--bf-color-border-drop-valid: lch(60% 100% 160deg);
	--bf-color-border-light-blue: color-mix(in oklab, var(--bf-color-border-blue), cyan 40%);
	--bf-color-border-gray: rgb(180 180 180);
	--bf-color-border-gray: oklch(77% 0 0);
	--bf-color-encumbrance-bar: rgb(255 255 255);
	--bf-color-fill: rgb(255 255 255);
	--bf-color-fill: oklch(100% 0 0);

	--bf-context-option-color-destructive: rgb(255 65 65);

	--bf-death-saves-failure-color: rgb(255 53 53);
	--bf-death-saves-success-color: rgb(53 238 53);

	--bf-dice-color-critical-failure: oklch(60% 0.259 27);
	--bf-dice-color-critical-success: oklch(60% 0.259 142.41);
	--bf-dice-color-failure: oklch(25% 75% 50deg);
	--bf-dice-color-failure-background: oklch(90% 10% 25deg);
	--bf-dice-color-success: oklch(25% 75% 120deg);
	--bf-dice-color-success-background: oklch(90% 10% 125deg);

	--bf-form-label-width: min(12em, 33%);

	--bf-journal-background: rgb(255 255 255);

	--bf-text-color-black: rgb(0 0 0);
	--bf-text-color-black: oklch(0% 0% 0deg);
	--bf-text-color-blue: oklch(28% 16% 268deg);
	--bf-text-color-light-label: rgb(0 0 0 / 0.6);
	--bf-text-color-white: rgb(255 255 255);
	--bf-text-shadow-blue: color-mix(in oklab, var(--bf-blue), cyan 70%);

	--bf-header-shadow: 0px 3px 3px 2px rgb(0 0 0 / 0.25);

	--bf-gradiant-blue: linear-gradient(
		color-mix(in oklab, var(--bf-blue), white 30%),
		color-mix(in oklab, var(--bf-blue), white 10%),
		color-mix(in oklab, var(--bf-blue), black 20%)
	);

	--bf-tray-transition: 250ms;

	--font-size-8: 0.5rem;
	--font-size-9: 0.5625rem;
	--font-size-10: 0.625rem;

	--notification-info-color: oklch(80% 20% 250deg);
	--notification-warn-color: oklch(90% 70% 90deg);
	--notification-error-color: oklch(70% 100% 50deg);
}
