.black-flag.roll.dialog form, .black-flag.roll-configuration.application {
	.formulas {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;

		.formula {
			contain: layout;
			display: flex;
			gap: 8px;
			align-items: center;
			justify-content: center;
			margin-inline: calc(-0.5rem - 2px);
			padding-block: 0.25rem;
			padding-inline: 0.5rem;
			background: rgba(255 255 255 / 0.5);
			font-size: var(--font-size-16);
			text-align: center;

			.formula-text {
				flex: 1 1 50%;
			}
			.formula-situational {
				flex: 0 1 25%;
				input::placeholder { opacity: 60%; }
			}
			.formula-damage-type {
				flex: 0 1 25%;
				display: grid;
				grid-template-areas: "overlap";
				grid-template-columns: 1fr;
				align-items: center;

				> * { grid-area: overlap; }
				blackFlag-icon {
					justify-self: end;
					display: block;
					--icon-fill: rgba(0 0 0 / 15%);
					--icon-width: 30px;
					--icon-height: 30px;
				}
				.label { text-align: start; }
				select {
					width: calc(100% + 11px);
					margin-inline: -5px;
					padding-inline: 5px;
					border: none;
					background: none;
					font-size: var(--font-size-16);
				}
			}
		}
	}

	.roll-notes {
		label {
			flex-wrap: nowrap;
			align-items: center;
			gap: 0.5rem;
		}
		p { margin: 0; }

		.advantage-mode {
			margin: 0;
			contain: layout;
			--icon-size: 25px;
			block-size: var(--icon-size);
			inline-size: var(--icon-size);

			figcaption {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				padding: 0;
				color: white;
			}

			.die-icon { --icon-size: inherit; }
			&[data-advantage-mode="1"] .die-icon { --icon-fill: var(--die-green-color); }
			&[data-advantage-mode="-1"] .die-icon { --icon-fill: var(--die-red-color); }
		}
	}

	[data-application-part="buttons"] {
		menu {
			display: flex;
			gap: 4px;
			> li { flex: 1 1 33%; }
		}
	}
}

.black-flag.roll.dialog form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	fieldset {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	label {
		display: flex;
		align-items: first baseline;
		gap: 1rem;

		input, select {
			flex-grow: 1;
			width: unset;
		}

		> span:first-of-type {
			font-weight: bold;
		}
	}

	.dialog-buttons {
		flex-grow: 1;
		display: flex;
		align-items: flex-end;

		ul {
			display: flex;
			gap: 0.5rem;
	
			li {
				flex: 1 1 33%;
			}
		}
	}
}
